<a href="https://colab.research.google.com/github/ShubhamCJagtap/Capstone_Project_1_EDA/blob/master/Capstone_project_1_Mobile_Events_EDA_colab_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ## EDA steps to follow
 
**1.** [**Introduction**](#Section1)<br>
**2.** [**Problem Statement**](#Section2)<br>
**3.** [**Installing & Importing Libraries**](#Section3)<br>
  - **3.1** [**Installing Libraries**](#Section31)
  - **3.2** [**Upgrading Libraries**](#Section32)
  - **3.3** [**Importing Libraries**](#Section33)

**4.** [**Data Acquisition & Description**](#Section4)<br>
  - **4.1** [**Data Description**](#Section41)
  - **4.2** [**Data Information**](#Section42)

**5.** [**Data Pre-profiling**](#Section5)<br>
**6.** [**Data Cleaning**](#Section6)<br>
**7.** [**Data Post-profiling**](#Section7)<br>
**8.** [**Exploratory Data Analysis**](#Section8)<br>
  - **8.1** [**Outlet Metrics-based Analysis**](#Section81)
  - **8.2** [**Nutritional Value-based Analysis**](#Section82)
  - **8.3** [**Geographical Information-based Analysis**](#Section83)
  - **8.4** [**Outlet Metrics-based & Nutritional Value-based Analysis**](#Section84)
  - **8.5** [**Outlet Metrics-based & Geographical Information-based Analysis**](#Section85)
  - **8.6** [**Nutritional Value-based & Geographical Information-based Analysis**](#Section86)
  - **8.7** [**Outlet Metric-based, Menu Items & Geographical Information-based Analysis**](#Section87)

**9.** [**Summarization**](#Section9)<br>

# Introduction

### Company Introduction
Your company for this project is InsaidTelecom.<br>

InsaidTelecom, one of the leading telecom players, understands that customizing offerings is very important for its business to stay competitive.<br>
Currently, InsaidTelecom is seeking to leverage behavioural data from more than 60% of the 50 million mobile devices active daily in India<br>
They are doing this to help their clients better understand and interact with their audiences.<br>

# problem Statement

## Current Scenario
In this consulting assignment, Insaidians are expected to build a dashboard.<br>
This dashboard will help us to understand a user's demographic characteristics based on their mobile usage, geolocation, and mobile device properties<br>
Doing so will help millions of developers and brand advertisers around the world pursue data-driven marketing efforts.
These efforts are relevant to their users and cater to their preferences.<br>

### Expected output

- EDA observations
- Dashboard

# Role

## Your Role
- To help the customer the consultants are expected to have depth of clarity in the underlying data.
- How much effort has been put into cleansing and purifying the data will decide how closely have you looked at the data..
- How detailed is the observation stated in the submission report and finally, how well a group presents their consulting journey.
- Please remember that this is an analytics consulting firm. Hence, your efforts in terms of finding user behaviour are going to directly impact the company's offerings.
- Do help the company understand what is the right way forward and suggest actionable insights from marketing and product terms.

### State to focus
- Delhi

### Provided Instructions

#### Dataset Description
- In this assignment, you are going to study the demographics of a user (gender and age) based on their app download and usage behaviours.
- The Data is collected from mobile apps that use Inside Telecom services. Full recognition and consent from an individual user of those apps have been obtained,and appropriate anonymization has been performed to protect privacy. Due to confidentiality, we won't provide details on how the gender and age data were obtained.
- Please treat them as accurate ground truth for prediction.

## Week 1 Task

- Fetch the data on to the notebook and ponder upon the challenges present in the data
- All observations supposed to be listed in observation sheet

# Import Libraries

In [8]:
!pip install mysql.connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql.connector in /usr/local/lib/python3.7/dist-packages (2.2.9)

In [9]:
import pandas as pd
import numpy as np
import mysql.connector as connection # install !pip install mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth',None)
pd.set_option('mode.chained_assignment',None)

In [10]:
Google_drive_link = 'https://drive.google.com/file/d/1Ir3rW0YTKmk7MSjVjCU_UGMQevhe1v9W/view'

# Collect Events Data

In [11]:
df = pd.read_csv('/content/drive/MyDrive/Capstone 1 Insaid/Database/events_data.csv')   #read csv file

In [12]:
df.head(10)

,event_id,device_id,timestamp,longitude,latitude,city,state
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi
1,2955066,4.734221e+18,2016-05-01 20:44:16,88.388361,22.660325,Calcutta,WestBengal
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi
3,448114,5.731369e+18,2016-05-03 13:21:16,80.343613,13.153332,Chennai,TamilNadu
4,665740,3.388880e+17,2016-05-06 03:51:05,85.997745,23.842609,Bokaro,Jharkhand
5,1078723,-5.124242e+17,2016-05-02 02:21:20,83.398244,17.768149,Visakhapatnam,AndhraPradesh
6,2948755,5.536513e+18,2016-05-03 16:20:14,80.359796,13.128174,Chennai,TamilNadu
7,280014,-8.879644e+18,2016-05-05 13:06:01,78.155397,16.390327,Wanparti,AndhraPradesh
8,2309828,3.020769e+18,2016-05-04 09:24:50,77.263922,28.757914,Delhi,Delhi
9,720049,4.928556e+18,2016-05-06 19:00:52,72.844795,18.974929,Mumbai,Maharashtra

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   event_id   int64
 1   device_id  float64
 2   timestamp  object
 3   longitude  float64
 4   latitude   float64
 5   city       object
 6   state      object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

## Observations (data.info())

- Total Entries  3252950
- timestamp type object ## need to change in datetime dtype

In [14]:
df.describe()

           event_id     device_id     longitude      latitude
count  3.252950e+06  3.252497e+06  3.252527e+06  3.252527e+06
mean   1.626476e+06  1.012200e+17  7.815868e+01  2.168851e+01
std    9.390459e+05  5.316758e+18  4.235570e+00  5.789111e+00
min    1.000000e+00 -9.222957e+18  1.256700e+01  8.190110e+00
25%    8.132382e+05 -4.540611e+18  7.583543e+01  1.780171e+01
50%    1.626476e+06  1.726820e+17  7.726814e+01  2.216454e+01
75%    2.439713e+06  4.861813e+18  8.031916e+01  2.868278e+01
max    3.252950e+06  9.222849e+18  9.545946e+01  4.187190e+01

In [15]:
describe_df = df.describe()

In [16]:
describe_df[describe_df.index=='count']

        event_id  device_id  longitude   latitude
count  3252950.0  3252497.0  3252527.0  3252527.0

In [17]:
describe_df

           event_id     device_id     longitude      latitude
count  3.252950e+06  3.252497e+06  3.252527e+06  3.252527e+06
mean   1.626476e+06  1.012200e+17  7.815868e+01  2.168851e+01
std    9.390459e+05  5.316758e+18  4.235570e+00  5.789111e+00
min    1.000000e+00 -9.222957e+18  1.256700e+01  8.190110e+00
25%    8.132382e+05 -4.540611e+18  7.583543e+01  1.780171e+01
50%    1.626476e+06  1.726820e+17  7.726814e+01  2.216454e+01
75%    2.439713e+06  4.861813e+18  8.031916e+01  2.868278e+01
max    3.252950e+06  9.222849e+18  9.545946e+01  4.187190e+01

In [18]:
a = describe_df[describe_df.index=='count']['event_id']
for i in describe_df[describe_df.index=='count'].columns:
    print("Missing Values in {} are {}".format(i,a - describe_df[describe_df.index=='count'][i]))

Missing Values in event_id are count    0.0
Name: event_id, dtype: float64
Missing Values in device_id are count    453.0
dtype: float64
Missing Values in longitude are count    423.0
dtype: float64
Missing Values in latitude are count    423.0
dtype: float64

## Observations (data.describe()

- Missing values in device_id = 453
- Missing values in longitude = 423
- Missing values in latitude = 423

## Analysis of object data state city

In [19]:
df[['state','city']].nunique()

state     32
city     933
dtype: int64

## Observations
Unique states present - 32<br>
Unique City present - 933

In [20]:
df[['state','city']].isna().sum()

state    377
city       0
dtype: int64

In [70]:
df['state'].value_counts()

Delhi                       751733
Maharashtra                 677105
TamilNadu                   436282
AndhraPradesh               321332
MadhyaPradesh               232690
Rajasthan                   196361
WestBengal                  196161
Karnataka                    99058
UttarPradesh                 94750
Gujarat                      42881
Bihar                        35472
Punjab                       26195
Kerala                       23148
Haryana                      21053
Jharkhand                    18060
Orissa                       15904
Telangana                    12784
Assam                        12021
Chhattisgarh                  9754
Uttaranchal                   7720
JammuandKashmir               5385
Goa                           3250
Nagaland                      2298
Pondicherry                   1741
Mizoram                       1613
Meghalaya                     1515
AndamanandNicobarIslands      1515
HimachalPradesh               1409
Manipur                        989
Chandigarh                     894
Tripura                        892
ArunachalPradesh               608
Name: state, dtype: int64

Missing values present in state column - 377

In [21]:
#counting the unique values
for columns in df:
  print ("The unique entries in {} is {}". format (columns, df[columns].nunique()))

The unique entries in event_id is 3252950
The unique entries in device_id is 60865
The unique entries in timestamp is 588126
The unique entries in longitude is 60095
The unique entries in latitude is 60177
The unique entries in city is 933
The unique entries in state is 32

In [22]:
#counting the null values
for columns in df:
  print("The null values in {} is {}".format(columns, df[columns].isnull().sum()))

The null values in event_id is 0
The null values in device_id is 453
The null values in timestamp is 0
The null values in longitude is 423
The null values in latitude is 423
The null values in city is 0
The null values in state is 377

# Gender Age data from Mysql Server

In [23]:
# try:
#     mydb = connection.connect(host="cpanel.insaid.co", database = 'Capstone1',user="student", passwd="student",use_pure=True)
#     query = "Select * from gender_age_train;"
#     result_dataFrame = pd.read_sql(query,mydb)
#     mydb.close() #close the connection
# except Exception as e:
#     mydb.close()
#     print(str(e))

In [24]:
# result_dataFrame.to_csv('gender_age.csv')

In [25]:
# df1 = pd.read_csv('gender_age.csv')

# Phone brand device model data from Mysql Server

In [26]:
# try:
#     mydb = connection.connect(host="cpanel.insaid.co", database = 'Capstone1',user="student", passwd="student",use_pure=True)
#     query = "Select * from phone_brand_device_model;"
#     result_dataFrame = pd.read_sql(query,mydb)
#     mydb.close() #close the connection
# except Exception as e:
#     mydb.close()
#     print(str(e))

In [27]:
# result_dataFrame.to_csv('phone_brand_device_model.csv')

In [28]:
# df2 = pd.read_csv('phone_brand_device_model.csv')

In [29]:
# for column in df.columns:
#   print(df[column].unique())
duplicated_list = df.duplicated()

In [30]:
df[duplicated_list]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

## Observations
No duplicate entries present in the dataset

# Same analysis for dataset 2 Gender_age.csv

In [58]:
df2 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/gender_age.csv')

In [32]:
df2.head()

   Unnamed: 0            device_id gender  age   group
0           0 -8076087639492063270      M   35  M32-38
1           1 -2897161552818060146      M   35  M32-38
2           2 -8260683887967679142      M   35  M32-38
3           3 -4938849341048082022      M   30  M29-31
4           4   245133531816851882      M   30  M29-31

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  74645 non-null  int64
 1   device_id   74645 non-null  int64
 2   gender      74645 non-null  object
 3   age         74645 non-null  int64
 4   group       74645 non-null  object
dtypes: int64(3), object(2)
memory usage: 2.8+ MB

# Observations

Total Entries - 74646<br>
No Null values detected<br>
More analysis required for group column

In [34]:
df2.describe()

         Unnamed: 0     device_id           age
count  74645.000000  7.464500e+04  74645.000000
mean   37322.000000 -7.491354e+14     31.410342
std    21548.299759  5.327150e+18      9.868735
min        0.000000 -9.223067e+18      1.000000
25%    18661.000000 -4.617367e+18     25.000000
50%    37322.000000 -1.841362e+16     29.000000
75%    55983.000000  4.636656e+18     36.000000
max    74644.000000  9.222849e+18     96.000000

## Observation gender_age
age minimum - 1 , maximum - 96 and mean = 31.41 , median = 29<br>
Mean and median don't have high difference <br>
Assumption check - age is normally distributed ??

In [35]:
df2['gender'].value_counts()

M    47904
F    26741
Name: gender, dtype: int64

## Observation

male entries are 47904<br>
female entries are 26741<br>

In [36]:
df2.nunique()

Unnamed: 0    74645
device_id     74645
gender            2
age              85
group            12
dtype: int64

In [37]:
df2['group'].unique()

array(['M32-38', 'M29-31', 'F24-26', 'F33-42', 'F27-28', 'M39+', 'M23-26',
       'M27-28', 'M22-', 'F43+', 'F23-', 'F29-32'], dtype=object)

In [38]:
print("Male above age 39 are {}".format(df2[(df2['age']>39)&(df2['gender']=='M')]['age'].sum()))

print("Female above age 43 are {}".format(df2[(df2['age']>43)&(df2['gender']=='F')]['age'].sum()))

Male above age 39 are 372416
Female above age 43 are 199865

In [39]:
print("Male below age 22 are {}".format(df2[(df2['age']<22)&(df2['gender']=='M')]['age'].sum()))
print("Female below age 23 are {}".format(df2[(df2['age']<23)&(df2['gender']=='F')]['age'].sum()))

Male below age 22 are 108781
Female below age 23 are 80571

In [40]:
print("Male below age 10 are {}".format(df2[(df2['age']<10)&(df2['gender']=='M')]['age'].sum()))
print("Female below age 10 are {}".format(df2[(df2['age']<10)&(df2['gender']=='F')]['age'].sum()))

Male below age 10 are 25
Female below age 10 are 0

In [41]:
print("Male below age 5 are {}".format(df2[(df2['age']<5)&(df2['gender']=='M')]['age'].sum()))
print("Female below age 5 are {}".format(df2[(df2['age']<5)&(df2['gender']=='F')]['age'].sum()))

Male below age 5 are 1
Female below age 5 are 0

In [42]:
df2.sort_values('age',ascending=True)[['age','group']].head(25)

       age group
10385    1  M22-
60833    6  M22-
60832    6  M22-
60779    6  M22-
60831    6  M22-
57703   10  M22-
33595   10  M22-
15107   10  M22-
72936   10  F23-
72935   10  F23-
53296   11  F23-
53282   11  F23-
53994   11  F23-
52335   11  F23-
54609   12  M22-
53603   12  M22-
60527   12  M22-
61136   12  F23-
53642   12  F23-
59192   12  F23-
58421   12  M22-
61398   12  M22-
53136   12  F23-
55195   12  M22-
11510   12  M22-

In [43]:
df2.sort_values('age',ascending=False)[['age','group']].head(25)

       age group
5958    96  F43+
60872   94  F43+
3704    90  M39+
32290   89  F43+
2971    89  F43+
32291   89  F43+
3068    88  F43+
3560    88  F43+
19602   88  M39+
3065    88  F43+
3067    88  M39+
2972    87  M39+
49530   87  M39+
2973    87  M39+
43127   86  M39+
43128   86  M39+
60342   86  M39+
60349   86  F43+
27797   85  M39+
60348   85  M39+
37118   85  M39+
3573    84  M39+
2799    84  F43+
9150    83  M39+
9151    83  M39+

## identified Question
What should be the age range to be considered in EDA?

# Unique Values
Gender - 2 (M,F)<br>
age - 85<br>
group - 12<br>

#groups are present as per gender

Male age group starts from M22- till M39+<br>
Female age group starts from F23- till F43+<br>

In [44]:
duplicated_list_df2 = df2.drop('Unnamed: 0',axis=1).duplicated()

In [45]:
df2.drop('Unnamed: 0',axis=1)[duplicated_list_df2]

Empty DataFrame
Columns: [device_id, gender, age, group]
Index: []

#Analysis of Phone_brand_dataset

In [46]:
df3 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/phone_brand_device_model.csv')

In [47]:
df3.head(10)

   Unnamed: 0            device_id phone_brand        device_model
0           0  1877775838486905855        vivo                 Y13
1           1 -3766087376657242966                          V183
2           2 -6238937574958215831        OPPO                 R7s
3           3  8973197758510677470                         A368t
4           4 -2015528097870762664                       Note2
5           5 -8896952452425303597                       Note3
6           6 -2634171391322875113                          S5.1
7           7 -2526386806972133373            Galaxy Grand Prime
8           8  1427934937997164515                         MI 2S
9           9  2866484947180243791                 Galaxy Note 2

In [48]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    87726 non-null  int64
 1   device_id     87726 non-null  int64
 2   phone_brand   87726 non-null  object
 3   device_model  87726 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.7+ MB

## Observation
Total entries - 87726<br>
No missing values

In [49]:
df3.nunique()

Unnamed: 0      87726
device_id       87726
phone_brand       116
device_model     1467
dtype: int64

In [50]:
df3['phone_brand'].unique()

array(['vivo', '', 'OPPO', '', '', ' ', '', '', '', '',
       '', 'HTC', '', '', 'LG', '', '', 'ZUK', '', '',
       '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', 'TCL', '', '',
       'LOGO', '', '', '', '', '', '', '', '', '',
       '', 'Lovme', '', 'E', '', '', '', '', '', '',
       '', '', '', '', '', '', '', 'EE', '', 'Q',
       '', '', '', '', '', '', '', '', '', '', '',
       '', 'SUGAR', '', '', '', '', '', '', '', '',
       '', '', '', '', 'MIL', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '',
       '', '', '', 'PPTV'], dtype=object)

# Observation
phone_brand have many chinese brand names and company provided equivalent english names are limited.<br>

Brand Name	Brand English Mapping<br><br>
''	'Huawei'<br>
''	'Xiaomi'<br>
''	'Samsung'<br>
'vivo'	'vivo'<br>
'OPPO'	'OPPO'<br>
''	'Meizu'<br>
''	'Coolpad'<br>
''	'LeEco'<br>
' '	'Lenovo'<br>
'HTC'	'HTC'<br><br>

We shall check these brand names for Delhi only

In [51]:
for i in df3['device_model'].unique():
  print(i,end='   ')

Y13   V183   R7s   A368t   Note2   Note3   S5.1   Galaxy Grand Prime   MI 2S   Galaxy Note 2   R1C   F1Plus   note   Galaxy Mega 2   1   Galaxy S4   MI 3   Find 7   C8816   note   X6 L   Galaxy Win      MX3   Y35   G520-5000   4A   Note 2   Y560-CL00   7i   3000   4C   C730Lw   2A   A1   One   Galaxy J7   R3   MX2   5   7   MI 4   One M8   1S   4   Galaxy S6 Edge   A3800d   P780   Ascend G7   6   Xperia SL   Y17T   4X   Ascend P7   Galaxy Grand 2   3X   X2   Ascend P8   R2017   NOTE   Mate 2   M8   T87+   X710L   A890e   R7   X5M   MX5   Galaxy Mega 5.8   L81   Xperia Z1   6 Plus   X5Max+   Galaxy J5   Galaxy Note 4   A31   GN706L   G3   P8 Lite   Sensation XE with Beats Audio Z715e   A880   +   X5L   8720L   IVO 6655   R7 Plus   4   MX4   Y635-TL00   Galaxy S3   X3L   3   R807   A8   One X   note   R6007   Galaxy S2 Plus   R1   3C   4C   R823T   Mate 7   MI 2   F2   Galaxy S5   Xperia TX   Galaxy Trend DUOS 2   Z1   Y11IT   note   W900   Ascend G700T   Galaxy Note 3   Galaxy R   F301   5X   N1 Mini   Find 5   2   X5Pro   X5V   A11   MI pad   Z7 Mini   Galaxy Note 5   MediaPad M2-801W   Galaxy Grand Neo Plus   Ascend GX1   R817   X3T   Galaxy E7   X817   GN700W   Y20T   A680   Y27   5891   F1   UIMI3   Compaq 7   G628   IVO 6622   B199   Galaxy Trend 3   X1ST   S7568I   C8818   Y622   2   Mate 7    1107   Galaxy S2   K3 Note   Galaxy S4 Zoom   Galaxy Ace Dear      K3   Ascend P1   R831T   M9   U9508   X5Max   2   X8888   S8   S60t   F2   Xplay3S   R1S   Y60-C1   Nexus 5   UIMI4   R809T   Q507T   Moto X Style   A788t      Y13iL   6 plus   G610S   N1T   X1 7.0   Y613F   Galaxy A7   N1   Y23L   F2   XL      Y927   Z9 mini   X3S   Y15   R831S   R815T   R819T   Galaxy Core Prime   Butterfly   Galaxy Style DUOS   Xperia S   Galaxy Note 3 Lite   P6   S7   Galaxy S6      M210   S7I   A51   X907      Y33   1 Pro   Galaxy Grand DUOS   Xperia Z5   G620-L75   5   Xplay   MX4 Pro   Galaxy S6 Edge+   8185   G3588V   Y937   T528t   Galaxy A8   N3   G610T   S7T   V5 Max   MI One Plus   S90-t   Xperia Z3 mini   8105   7270-W00   M8St   Desire 820   A750   S898t   metal   P970   Galaxy Mega 6.3   5890   Z9 Max   PRO5   X5SL   Y29L   E602T   GN150   8190Q   E620M   1   8702D   Galaxy Grand   Galaxy Note   U960E   Grand X   Xperia arc S   T708   X   T50   GN128   1s   L700T   Galaxy A5   F103S   5951   H1   A820   G7200   U8860      LT01   Y11   Y635   T1   Xperia Neo   G7 Plus   Y13L   HT-I860   8056   EVO 3D X515m    X1   Galaxy A3   HD   Galaxy S2 HD LTE E120S   L5Pro   ivvi i   4C   3   Ascend G700   2   Nexus 4   R827T   G520-0000   Ascend P6   ELIFE E3T   2   5950   Q519T   Galaxy Tab P6800   A398t      Z5S   Y511-T00   MI One C1   8085q   A3900   M4   L1 mini   V188S   X7   Grand X Quad   A320t   G2   Galaxy Core Advance   Y28L   Y22IL      SHV-E210L      F103   Y928   Galaxy Ace 3   R821T   Note3   MI 2A   Moto X   Y321C   Xperia Z2   I9118   8750   K860i   G730-C00   A708t   A670t   S658t   Galaxy On7   Desire 820 Mini   Galaxy Ace   T1   A33   603e   LT416   G11   S7568   T528w   6607   3N   8730L   M2   Y11IW   W2015   Pro   R830   ELIFE S5.5   Q505T   9190l   Galaxy Note Edge   Touch 2C      X3F   Y913   Galaxy Trend DUOS   Optimus G   7296   R5   M512   Galaxy On5   7105   Galaxy S3 Neo+   G520-T10   VIBE X   Mate 8   S1   MI 1S   5263   S2y   A369   Grand Memo 2   G750-T20   Y923   M032   R8205   A688t   3X   big foot   Touch 2   Galaxy Premier   Y37   U956   S810t   HN3-U01   S650   L128   IPH8   3C   1100   S5830I   X6 Plus D   G606   B9388   Desire 826   A5800-D   Galaxy Core Lite   MI pad 2   A360t   SM-T705C   G4   ono   Find   Galaxy Core Max   ivvi Pro   A53   G718C   XM   V5S   3007   D800   X6 Plus   S12   I779   Y1   3   My    Y18L   Blade S6 Lux   H1S   GN715   metal    U879   Desire 7088   U930HD   Galaxy Note 10.1   G3818   5S   U701   X6 D   MediaPad M2-803L   Blade A1   Galaxy Nexus   Desire 610t   Y19T   Note   Max   Galaxy S L   2016 Galaxy A9   Galaxy S3 Mini   GN152   Desire 816   VIBE X2   A516   S7898   V5   Moto X Pro   Y13T   2016 Galaxy A5   S11T   VIBE Z2   A7   7270   S6   Xperia C   7295   2   V4   M5   H5   R833T   Grand S 2   G510   C8817E   5263S   Y22L   S820   Y51      T329t   7298D   S   Galaxy J3   iPh-800   C8815   P335M   S5.5L   1105   8729   T328w   Xperia Z   W2014   Galaxy Mega Plus   G660-L075   5200S   Y613   Mate S   A298t   Galaxy Tab 3 8.0   T20L   U880F1   2016 Galaxy A7   X8T   Two   N1 max   3   R820    X3   L920   One S   Ulike2   A376   8029   U707T   Galaxy Win Pro   Z5S Mini   ZenFone Max   E601M   GN708T   Xperia C3   I8268   Galaxy Tab 3 10.1   ZenFone 2   T1-823L   Y600D   S2L   Galaxy Tab 2 P3100   8122   Y518-T00   V819 3G   D2-M   A580   U3   S720   Xperia acro S   X3V   GN151   X6   5891Q   5956   P316L   :UOOGOUT1   Y516   C8816D   7269   Galaxy S7 Edge   U11   SOP M3   A828t   Y3T   Note   7295C   A850   U705T   A390   Galaxy Tab P3108   A789   E1T   A2800d   7295A   MI 2C   M031   C8813   A199   795+   E6   802w   Xperia T   D500   5219   R813T   D350   8190   7231   A678t   Galaxy Note 8.0   A380t   A820t   7372   X1   E1   X1S   8195   MT1-U06   Y600-U00   S890   HS-U978   H7   Y320   Xperia P   Galaxy Ace 2   S920   Q705U   U817   T2   S9   V719   A356   EG939   A388t   R811   V1   L22   8720   S850t   S3+   V182   M100   P770   iSuper S2   A798t   T9   C8813Q   EG978   Galaxy S Advance   7620l   8702   MI 4S   8705   T29   Y17W   K68w   Xshot   Ascend G6   G730-T00   GN700T   Q Note   P880   X50TS   M811   X68T   A390t   X6666   Y618-T00   ZenFone 5   IdeaTab A5000-E   Galaxy Ace Plus   M1   Galaxy Tab S T705C   Galaxy Tab 4 T231   G730-U00   U809   MI 5   V8   VIBE Z   XL   MOMO9   M310   Galaxy Core Mini   GN5001S      Y330    M2   IVO 6600   Note8   Galaxy Trend 2   Mate   7295+   7320   U930   Y300   U7   A660   T3   P308L   U969   Xperia Z Ultra   T91   S+   Galaxy Tab 7.0 Plus   M701   A658t   Moto G   P331M   P700i   N798+   7235   Galaxy S4 Active   E7   Xperia Z3   S720i   TAB 2 A7-30   P1   8085n   S5300   V987   Grand Memo   K1   L7   P520L   P700   Galaxy S4 Mini   3   Xperia SP   V70   MT2-C00   Xperia ion   7268   5892   G521   M6-M7   TALK 7X   i9   V889D   iSuper S1   7236   T9108   MM1101   L810   Xperia T2 Ultra   U960S3   Touch 3   7230   Galaxy Gio   U9815   8012   A630t   V818   Galaxy J1   Galaxy Fame   A800   T958   A820e   A278t   N1W   Y500   U960S   9976A   GN100   X805   8295M   C8817L   A505e   8198T   GN137   U51GT-W   K900   ME371MG   A520   J738M   A766   5860A   R9   S696   9180   S868t   TALK 9X   Optimus LTE   G615-U10   A830   Galaxy Core 4G   Y511-U00   V185   2016 Galaxy J7   Y80D   T1   G716   Galaxy W   R830S   Y22   A850+   U795+   R8000   E5   GN9002   E6T   Galaxy J   5217   Z9      W999   XT615   Y627   Vibe Z2 Pro   3S   8079   Q802T   W2013   BF T18   N910C   E912S   8295   L9   A770e   Q501U   SCH-I939   G6-U00   L1   E3   A698t   A765e   Xperia Z3+ Dual   A3000-H   Y623   G717C      T329d   T8620   S9T   3S   ivvi K1 mini   S5831I   VIBE X2   7296S   U966   A785e   T328t   T7   3   P8max   E70-T   E8   R9 Plus   P306C   One E8   Q503U   Galaxy S2 Epic 4G Touch   P9   201   Droid Ultra   T80   M812C   V955   3005    Plus   L5 Plus   Galaxy Alpha   S938t   XT1060   U950   A2580   S899t   VS980   U980   C8650   S850   U2   Vibe Shot   Desire 626   X2   Z7 Max   Galaxy Mini   A750e   T619+   S7566    9   Galaxy Core 2   R805   GN305   C8812   A760   4   A399   Max   Galaxy K Zoom   R5s plus   P332U   N910U   2   Blade S6   V956      EG970   S5.1Pro   MI 1   X80HD   A858t   V526   Y628   G610C   R801   Y3100   Touch 3c   3C   F303   One max   5360   A560   8021   Galaxy Golden   I9050   7i   L3   M20-T   E613M   G730-L075   Galaxy S Plus   8085   Z9 mini    S1   8721   S686   S858t   P705   L8    5   G3609   E75T   Optimus G Pro   Galaxy Tab 3 Lite T111   R817T   T03   N909   2C   GN708W   C630Lw   VT898   One M9+   Nexus S   A7-30   S930   P70   C230w   Desire 616   7260   AxonMini   8712S   GT7   Galaxy Tab 4 T331C   One E9   3S   N1-Y   Y31   V5   K31   S8   SM-T325   Galaxy Trend   IdeaTab A2207A-H   A318t   U807   XT910   A706   A330e   D520   K860   A8-50   SM-T2558   8295c   ELIFE E6 mini   A630   Grand Era   TL1000   Z5   S5000   C8813DQ   T9508   R2010   Q201T   N821   idol X   DROID RAZR   G6-C00   ELIFE E7 Mini   A5   Ascend D2   V967S   X5   GN168t   YOGA Tablet B6000   G3819D   Galaxy Tab 2 P5110   V6   Y320T   A288t   Touch V      A628t   OKU3   I8258   Galaxy Tab 3 7.0   Defy+   P301M   5872   V9   8732   8070   Galaxy Y   7060   S2   GT-I8160   T967   A3300-T   T5   Tab2 A7-10F   A308t   Galaxy Tab Pro T321   V975s Core4   Desire S   L168   R850   GN705T   7251   M601   U5482   S90-u   Xperia U   U880   D330   C986t   EV5   T528d   G630   A656   S660   T60   Y325   Q7   I95   8089   Galaxy S   5832   G525   Desire 310   EG966   V10   1s   GN135   S3   M10-M   A378t   A889   s820e   5860S   8076D   8017   Butterfly s   M6   Xperia ZR    608t   GN810   N986   Blade C   7019   N828   S880i   M030   G616-L076   A208t   GN139   VT898S   U939   Q301C   Galaxy Ace DUOS   A269i   GN878   One M8 Eye   A238t   VT868   A398t+   Q701C   TS1018   N818   T20   8707   S8-701u   Desire 5088   8017-T00   M8x   T327w   GN105   E600M   Xperia ZL   606w   MK260   memo 5S   Desire 609d   A3   Desire D516d   T8830Pro   HT-I717   A6800   I630T   T35   8713   Galaxy Tab S T800   E621T   Galaxy Grand Max   L3C   t789   U701T   Nexus 7   5218S   L70   M3   Q302C   U8825D   V919   One ME   Galaxy Infinite   Y220T   IVO 6688   Y610-U00   5216D    4   T820   X920e   L820   S939   Xperia Z1    T9003      T21   V95   A860e   V188   S8-701w   S5Q   One M9   voga v1   MM1103   M535   5261   i1   idol3   G5   S5   T12   A2860      P8   802d   NX Plus   A51kc   T004   BF A500   T1-821w   Sensation Z710E   3      M5 Plus   Galaxy Note 10.1 2014 Edition P601   Galaxy S DUOS   A355e   A30   TL500   Z5 Mini   BM001   A690   A68e   W619   GN106   GT-N8000   EG971   N880F   J320T   EG936D   Desire D516t   T929   I8250   A338t   T327t   N881F   GN180   5316   5930   S880   MC002   U819   JX8166   A300t   8717   9976D   Desire D316d   A805e   KDOOR X5-Y12   3   S960   X7   Desire HD   E602M   H2   78P01   A588t   T619   8150   LT02   M1L   U8   8712   2C   M201S   T90   M20-M   SM-T2556   M3S   S6-NT1   A3600d   X98 3G    6   A606   Q801L   P318L   S860e   T9600   T890   Galaxy Tab P7500   II   F105   L108   A768t   D557   W800   VIBE P1   L100   R2   3   C03   Axon   OKA51   A385e   Galaxy Tab 2 P5100   N880E   MediaPad 10 Link   XT1033   EG980   210R   U86   Doeasy E700   Q501T   Y310-T10   Y310-5000   S6T   s800   GN108   K88L   U1   Z4   8076   5311   L930i   Xperia M2   P2   L820c   VT888   U81t   Xperia ZR   I630M   C8813D   3   Xperia ray   GN9004   Galaxy Grand 2 LTE   5876   C8812+   D516w   D360    3   G629   P500M   GN800   N2   DM   I639T   PHAB Plus   Galaxy Tab 3 Lite T110   U968   Sonic+   P302C   Nexus 6P   7605   Y70-C   U808   T703   K23   90w   V931    7   W700   H3   Tab2A7-20F   8736   Mos1   S8-50   5216s   W88   Ascend G330C   BM002      MAX3   L5 mini   HD   A358t   N919D   5879   E913   V981    M3   Galaxy Tab S T805C   Desire V   I635T   E99   X6088   Optimus G Pro 2   A500   5310   7275   P501M   P518L   E260-T   U818   P502U   I900   U880S   3   7061   BM002-G5   P360W   P21   E968   HT-I857   Y523-L176   3   K80   Galaxy Ace 4   L82   Moto X 3   X4   V880   i600   U889   F320L   K012   U55GT   Xperia Z5 Premium   A375e   302U   T00G   L823   C666t   EG929   MediaPad M1   W6618   A590   a218t   E956Q   S300   A3500   E50-T   GN705   BM003   A780   D1   Q3C   A360e   P305   F1   LT988   5313S   Note3   Galaxy S7   Xplay5   Desire 816x   S668t   T9608   IdeaTab A1010-T   W700+   5200   F240S   M15   T928   Q805T   U970   A396   S90-e   W808   J636D+   V923   T13   P51   X10i   E820   GN5002   G9   P9 Plus   A328t   8715   U880E   W900S   One A9   8722   V889M   T780+   N919   Galaxy Core   U793   L855   T9500   P3      S560   Xperia J   A3890   G610M   Note3   Hol-U10   Q509T   XT928   X18   A630e   MM1104   I7   A380e   A65   U25GT   Razr V   T6   IVO 6666   Z7   S8-303L   9300-M9   V983   G730-U30   V701s Core4   A366t   V965T   ME7510KG   W2016   One X9   T328d   YOGA Tablet B8000   A100   C986t+   ZenFone Selfie      P596   S838M   IdeaTab A1000-T   G309T   A780e   DROID RAZR M   VIBE X2 Pro   Moto X   A395e   Gigaset ME   Ascend D1   Galaxy Tab P1000   Find 3   U960   G620-L72   T918   U936   I699I   E622M   X80h   B8080-F    X5   Moto Turbo   A1020   T860   S870e      Z1988   X98 Air 3G   King 7   King 7s   T621   Y320C   M228-M51   I6   Galaxy S DUOS 2   3   T89-2   m310   H6   X3   2 Plus   Galaxy Tab S T705   IVO 8800   U59GT

## Observation
In device model, few names are in chinese. <br>
No equivalent english names provided

In [52]:
duplicate_in_df3 = df3.drop('Unnamed: 0',axis=1).duplicated()

In [53]:
df3.drop('Unnamed: 0',axis=1)[duplicate_in_df3]

Empty DataFrame
Columns: [device_id, phone_brand, device_model]
Index: []

No Duplicate values present

In [54]:
# id = []
# miss = []
# for i in df2['device_id'].unique():
#   if i in df['device_id'].unique():
#     id.append(i)
#   else:
#     miss.append(i)

KeyboardInterrupt: ignored

In [55]:
# df2.drop('Unnamed: 0',axis=1,inplace=True)

In [59]:
# merge all tables by performing outer join between events, gender and phone brand
merged_1 = df.merge(df2.drop('Unnamed: 0',axis=1), how = "left", on = "device_id")
# .merge(phonebrand_device_model_df,how = "outer", on = "device_id",suffixes=('_left', '_right'))

In [60]:
merged_1.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi,M,35.0,M32-38
1,2955066,4.734221e+18,2016-05-01 20:44:16,88.388361,22.660325,Calcutta,WestBengal,NaN,NaN,NaN
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi,NaN,NaN,NaN
3,448114,5.731369e+18,2016-05-03 13:21:16,80.343613,13.153332,Chennai,TamilNadu,NaN,NaN,NaN
4,665740,3.388880e+17,2016-05-06 03:51:05,85.997745,23.842609,Bokaro,Jharkhand,NaN,NaN,NaN

In [62]:
merged_1.shape

(3252950, 10)

In [63]:
merged_1.isna().sum()

event_id           0
device_id        453
timestamp          0
longitude        423
latitude         423
city               0
state            377
gender       3235968
age          3235968
group        3235968
dtype: int64

In [64]:
df.nunique()

event_id     3252950
device_id      60865
timestamp     588126
longitude      60095
latitude       60177
city             933
state             32
dtype: int64

In [65]:
df2.nunique()

Unnamed: 0    74645
device_id     74645
gender            2
age              85
group            12
dtype: int64

In [66]:
merged_1.nunique()

event_id     3252950
device_id      60865
timestamp     588126
longitude      60095
latitude       60177
city             933
state             32
gender             2
age               51
group             12
dtype: int64

In [67]:
merged_2 = merged_1.merge(df3.drop('Unnamed: 0',axis=1), how = "left", on = "device_id")

In [68]:
merged_2.nunique()

event_id        3252950
device_id         60865
timestamp        588126
longitude         60095
latitude          60177
city                933
state                32
gender                2
age                  51
group                12
phone_brand          26
device_model        191
dtype: int64

In [69]:
merged_2.isna().sum()

event_id              0
device_id           453
timestamp             0
longitude           423
latitude            423
city                  0
state               377
gender          3235968
age             3235968
group           3235968
phone_brand     3235968
device_model    3235968
dtype: int64

In [71]:
merged_df_df2 = df.merge(df2.drop('Unnamed: 0',axis=1), how = "inner", on = "device_id")

In [72]:
merged_df_df2.nunique()

event_id     16982
device_id      406
timestamp    16553
longitude      406
latitude       406
city           197
state           26
gender           2
age             51
group           12
dtype: int64

In [73]:
merged_df_df3 = df.merge(df3.drop('Unnamed: 0',axis=1), how = "inner", on = "device_id")

In [74]:
df[df['state']=='Delhi'].nunique()

event_id     751733
device_id      4909
timestamp    412084
longitude      4795
latitude       4789
city             10
state             1
dtype: int64

In [75]:
merged_df_df3.nunique()

event_id        16982
device_id         406
timestamp       16553
longitude         406
latitude          406
city              197
state              26
phone_brand        26
device_model      191
dtype: int64

In [76]:
merged_df2_df3 = df2.merge(df3.drop('Unnamed: 0',axis=1), how = "inner", on = "device_id")

In [77]:
merged_df2_df3.nunique()

Unnamed: 0      74617
device_id       74617
gender              2
age                85
group              12
phone_brand       111
device_model     1427
dtype: int64

In [79]:
all = merged_df2_df3.merge(df, how = "inner", on = "device_id")

In [80]:
all.nunique()

Unnamed: 0        406
device_id         406
gender              2
age                51
group              12
phone_brand        26
device_model      191
event_id        16982
timestamp       16553
longitude         406
latitude          406
city              197
state              26
dtype: int64

In [83]:
all[all['state']=='Delhi'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2328 entries, 1059 to 16813
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2328 non-null   int64
 1   device_id     2328 non-null   int64
 2   gender        2328 non-null   object
 3   age           2328 non-null   int64
 4   group         2328 non-null   object
 5   phone_brand   2328 non-null   object
 6   device_model  2328 non-null   object
 7   event_id      2328 non-null   int64
 8   timestamp     2328 non-null   object
 9   longitude     2328 non-null   float64
 10  latitude      2328 non-null   float64
 11  city          2328 non-null   object
 12  state         2328 non-null   object
dtypes: float64(2), int64(4), object(7)
memory usage: 254.6+ KB