<a href="https://colab.research.google.com/github/ShubhamCJagtap/Capstone_Project_1_EDA/blob/master/Capstone_project_1_Mobile_Events_EDA_colab_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ## EDA steps to follow
 
**1.** [**Introduction**](#Section1)<br>
**2.** [**Problem Statement**](#Section2)<br>
**3.** [**Installing & Importing Libraries**](#Section3)<br>
  - **3.1** [**Installing Libraries**](#Section31)
  - **3.2** [**Upgrading Libraries**](#Section32)
  - **3.3** [**Importing Libraries**](#Section33)

**4.** [**Data Acquisition & Description**](#Section4)<br>
  - **4.1** [**Data Description**](#Section41)
  - **4.2** [**Data Information**](#Section42)

**5.** [**Data Pre-profiling**](#Section5)<br>
**6.** [**Data Cleaning**](#Section6)<br>
**7.** [**Data Post-profiling**](#Section7)<br>
**8.** [**Exploratory Data Analysis**](#Section8)<br>
  - **8.1** [**Outlet Metrics-based Analysis**](#Section81)
  - **8.2** [**Nutritional Value-based Analysis**](#Section82)
  - **8.3** [**Geographical Information-based Analysis**](#Section83)
  - **8.4** [**Outlet Metrics-based & Nutritional Value-based Analysis**](#Section84)
  - **8.5** [**Outlet Metrics-based & Geographical Information-based Analysis**](#Section85)
  - **8.6** [**Nutritional Value-based & Geographical Information-based Analysis**](#Section86)
  - **8.7** [**Outlet Metric-based, Menu Items & Geographical Information-based Analysis**](#Section87)

**9.** [**Summarization**](#Section9)<br>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Introduction

### Company Introduction
Your company for this project is InsaidTelecom.<br>

InsaidTelecom, one of the leading telecom players, understands that customizing offerings is very important for its business to stay competitive.<br>
Currently, InsaidTelecom is seeking to leverage behavioural data from more than 60% of the 50 million mobile devices active daily in India<br>
They are doing this to help their clients better understand and interact with their audiences.<br>

# problem Statement

## Current Scenario
In this consulting assignment, Insaidians are expected to build a dashboard.<br>
This dashboard will help us to understand a user's demographic characteristics based on their mobile usage, geolocation, and mobile device properties<br>
Doing so will help millions of developers and brand advertisers around the world pursue data-driven marketing efforts.
These efforts are relevant to their users and cater to their preferences.<br>

### Expected output

- EDA observations
- Dashboard

# Role

## Your Role
- To help the customer the consultants are expected to have depth of clarity in the underlying data.
- How much effort has been put into cleansing and purifying the data will decide how closely have you looked at the data..
- How detailed is the observation stated in the submission report and finally, how well a group presents their consulting journey.
- Please remember that this is an analytics consulting firm. Hence, your efforts in terms of finding user behaviour are going to directly impact the company's offerings.
- Do help the company understand what is the right way forward and suggest actionable insights from marketing and product terms.

### State to focus
- Delhi

### Provided Instructions

#### Dataset Description
- In this assignment, you are going to study the demographics of a user (gender and age) based on their app download and usage behaviours.
- The Data is collected from mobile apps that use Inside Telecom services. Full recognition and consent from an individual user of those apps have been obtained,and appropriate anonymization has been performed to protect privacy. Due to confidentiality, we won't provide details on how the gender and age data were obtained.
- Please treat them as accurate ground truth for prediction.

## Week 1 Task

- Fetch the data on to the notebook and ponder upon the challenges present in the data
- All observations supposed to be listed in observation sheet

# Import Libraries

In [2]:
!pip install mysql.connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 5.2 MB/s
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=17f96a8a50aaba959e522f1951072c3d6a765c997ff49e8e69650d3be0bf938d
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [3]:
import pandas as pd
import numpy as np
import mysql.connector as connection # install !pip install mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth',None)
pd.set_option('mode.chained_assignment',None)

In [ ]:
Google_drive_link = 'https://drive.google.com/file/d/1Ir3rW0YTKmk7MSjVjCU_UGMQevhe1v9W/view'

# Collect Events Data

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Capstone 1 Insaid/Database/events_data.csv')   #read csv file

In [5]:
df.head(10)

,event_id,device_id,timestamp,longitude,latitude,city,state
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi
1,2955066,4.734221e+18,2016-05-01 20:44:16,88.388361,22.660325,Calcutta,WestBengal
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi
3,448114,5.731369e+18,2016-05-03 13:21:16,80.343613,13.153332,Chennai,TamilNadu
4,665740,3.388880e+17,2016-05-06 03:51:05,85.997745,23.842609,Bokaro,Jharkhand
5,1078723,-5.124242e+17,2016-05-02 02:21:20,83.398244,17.768149,Visakhapatnam,AndhraPradesh
6,2948755,5.536513e+18,2016-05-03 16:20:14,80.359796,13.128174,Chennai,TamilNadu
7,280014,-8.879644e+18,2016-05-05 13:06:01,78.155397,16.390327,Wanparti,AndhraPradesh
8,2309828,3.020769e+18,2016-05-04 09:24:50,77.263922,28.757914,Delhi,Delhi
9,720049,4.928556e+18,2016-05-06 19:00:52,72.844795,18.974929,Mumbai,Maharashtra

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   event_id   int64
 1   device_id  float64
 2   timestamp  object
 3   longitude  float64
 4   latitude   float64
 5   city       object
 6   state      object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

## Observations (data.info())

- Total Entries  3252950
- timestamp type object ## need to change in datetime dtype

In [7]:
df.describe()

           event_id     device_id     longitude      latitude
count  3.252950e+06  3.252497e+06  3.252527e+06  3.252527e+06
mean   1.626476e+06  1.012200e+17  7.815868e+01  2.168851e+01
std    9.390459e+05  5.316758e+18  4.235570e+00  5.789111e+00
min    1.000000e+00 -9.222957e+18  1.256700e+01  8.190110e+00
25%    8.132382e+05 -4.540611e+18  7.583543e+01  1.780171e+01
50%    1.626476e+06  1.726820e+17  7.726814e+01  2.216454e+01
75%    2.439713e+06  4.861813e+18  8.031916e+01  2.868278e+01
max    3.252950e+06  9.222849e+18  9.545946e+01  4.187190e+01

In [8]:
describe_df = df.describe()

In [9]:
describe_df[describe_df.index=='count']

        event_id  device_id  longitude   latitude
count  3252950.0  3252497.0  3252527.0  3252527.0

In [10]:
describe_df

           event_id     device_id     longitude      latitude
count  3.252950e+06  3.252497e+06  3.252527e+06  3.252527e+06
mean   1.626476e+06  1.012200e+17  7.815868e+01  2.168851e+01
std    9.390459e+05  5.316758e+18  4.235570e+00  5.789111e+00
min    1.000000e+00 -9.222957e+18  1.256700e+01  8.190110e+00
25%    8.132382e+05 -4.540611e+18  7.583543e+01  1.780171e+01
50%    1.626476e+06  1.726820e+17  7.726814e+01  2.216454e+01
75%    2.439713e+06  4.861813e+18  8.031916e+01  2.868278e+01
max    3.252950e+06  9.222849e+18  9.545946e+01  4.187190e+01

In [5]:
a = describe_df[describe_df.index=='count']['event_id']
for i in describe_df[describe_df.index=='count'].columns:
    print("Missing Values in {} are {}".format(i,a - describe_df[describe_df.index=='count'][i]))

NameError: ignored

## Observations (data.describe()

- Missing values in device_id = 453
- Missing values in longitude = 423
- Missing values in latitude = 423

## Analysis of object data state city

In [12]:
df[['state','city']].nunique()

state     32
city     933
dtype: int64

## Observations
Unique states present - 32<br>
Unique City present - 933

In [13]:
df[['state','city']].isna().sum()

state    377
city       0
dtype: int64

In [14]:
df['state'].value_counts()

Delhi                       751733
Maharashtra                 677105
TamilNadu                   436282
AndhraPradesh               321332
MadhyaPradesh               232690
Rajasthan                   196361
WestBengal                  196161
Karnataka                    99058
UttarPradesh                 94750
Gujarat                      42881
Bihar                        35472
Punjab                       26195
Kerala                       23148
Haryana                      21053
Jharkhand                    18060
Orissa                       15904
Telangana                    12784
Assam                        12021
Chhattisgarh                  9754
Uttaranchal                   7720
JammuandKashmir               5385
Goa                           3250
Nagaland                      2298
Pondicherry                   1741
Mizoram                       1613
Meghalaya                     1515
AndamanandNicobarIslands      1515
HimachalPradesh               1409
Manipur                        989
Chandigarh                     894
Tripura                        892
ArunachalPradesh               608
Name: state, dtype: int64

Missing values present in state column - 377

In [7]:
#counting the unique values
for columns in df:
  print ("The unique entries in {} is {}". format (columns, df[columns].nunique()))

The unique entries in event_id is 3252950
The unique entries in device_id is 60865
The unique entries in timestamp is 588126
The unique entries in longitude is 60095
The unique entries in latitude is 60177
The unique entries in city is 933
The unique entries in state is 32

In [19]:
#counting the null values
for columns in df:
  print("The null values in {} is {}".format(columns, df[columns].isnull().sum()))

The null values in event_id is 0
The null values in device_id is 453
The null values in timestamp is 0
The null values in longitude is 0
The null values in latitude is 0
The null values in city is 0
The null values in state is 0

## Fill mssing values

## State

In [9]:
cities_list = (df[df['state'].isna()]['city'].unique()).tolist()
print(cities_list)

['Pune', 'Visakhapatnam', 'Indore', 'Chennai', 'Delhi', 'Channapatna', 'Jaipur', 'Gangarampur', 'Arambagh']

In [10]:
state_list = []
for i in cities_list:
  print(i,df[(df['city']==i)&(df['state'].isna()==False)]['state'].unique())
  state_list.append(df[(df['city']==i)&(df['state'].isna()==False)]['state'].unique())

Pune ['Maharashtra']
Visakhapatnam ['AndhraPradesh']
Indore ['MadhyaPradesh']
Chennai ['TamilNadu']
Delhi ['Delhi']
Channapatna ['Karnataka']
Jaipur ['Rajasthan']
Gangarampur ['WestBengal']
Arambagh ['WestBengal']

In [11]:
df.loc[(df['city']=='Pune')&(df['state'].isna()),'state']='Maharashtra'
df.loc[(df['city']=='Visakhapatnam')&(df['state'].isna()),'state']='AndhraPradesh'
df.loc[(df['city']=='Indore')&(df['state'].isna()),'state']='MadhyaPradesh'
df.loc[(df['city']=='Chennai')&(df['state'].isna()),'state']='TamilNadu'
df.loc[(df['city']=='Delhi')&(df['state'].isna()),'state']='Delhi'
df.loc[(df['city']=='Channapatna')&(df['state'].isna()),'state']='Karnataka'
df.loc[(df['city']=='Jaipur')&(df['state'].isna()),'state']='Rajasthan'
df.loc[(df['city']=='Gangarampur')&(df['state'].isna()),'state']='WestBengal'
df.loc[(df['city']=='Arambagh')&(df['state'].isna()),'state']='WestBengal'

## Latitude and longitude

In [13]:
device_id_lat_lon_missing = df[(df['longitude'].isna())&(df['latitude'].isna())]['device_id'].unique()
print(device_id_lat_lon_missing)

[ 1.77963102e+18 -8.79056003e+18  4.86560657e+18  7.98387143e+18
 -7.36484063e+18  5.37559902e+18  5.51865960e+18  4.58017944e+18
 -6.03379839e+18  7.66213914e+18  2.35097940e+18  4.37503983e+18
  4.78258205e+18  1.32005098e+18  5.73136927e+18  3.73828049e+18
  3.05848775e+17  7.01860038e+18  5.11518528e+18  6.77407134e+18
  3.09916855e+18]

In [14]:
lst_id_lat_lon = []
for i in device_id_lat_lon_missing:
  a = df[(df['longitude'].isna()==False)&(df['latitude'].isna()==False)&(df['device_id']==i)][['device_id','longitude','latitude']].value_counts()
  lst_id_lat_lon.append(a.index.values)

In [15]:
lst_id_lat_lon

[array([(1.7796310234394053e+18, 77.235416, 28.738901)], dtype=object),
 array([(-8.790560034584249e+18, 75.933778, 22.761965)], dtype=object),
 array([(4.865606571395669e+18, 83.35144199999998, 17.772251999999995)],
       dtype=object),
 array([(7.983871429718485e+18, 80.33543499999998, 13.189053)],
       dtype=object),
 array([(-7.364840628879981e+18, 73.931944, 18.54074)], dtype=object),
 array([(5.375599021847303e+18, 77.283447, 28.718392)], dtype=object),
 array([(5.518659601894558e+18, 83.384242, 17.817945)], dtype=object),
 array([(4.580179444377398e+18, 75.835756, 26.960220000000003)],
       dtype=object),
 array([(-6.033798388179802e+18, 83.31978699999998, 17.816579)],
       dtype=object),
 array([(7.66213914371992e+18, 80.30927199999998, 13.149176)], dtype=object),
 array([(2.3509794022024387e+18, 75.888474, 22.745063)], dtype=object),
 array([(4.37503983023287e+18, 75.824489, 26.980345000000003)],
       dtype=object),
 array([(4.782582047729166e+18, 77.22522, 28.718379)], dtype=object),
 array([(1.3200509770197112e+18, 87.570736, 26.211919)], dtype=object),
 array([(5.731369272434022e+18, 80.34361299999998, 13.153332)],
       dtype=object),
 array([(3.738280493453803e+18, 75.937988, 22.76201)], dtype=object),
 array([(3.058487753865349e+17, 75.865534, 26.987566)], dtype=object),
 array([(7.018600380123445e+18, 73.92622300000002, 18.575747)],
       dtype=object),
 array([(5.115185276392513e+18, 73.88868000000002, 18.556741)],
       dtype=object),
 array([(6.774071338248978e+18, 75.268748, 30.904178)], dtype=object),
 array([(3.0991685461987686e+18, 84.1409, 27.17739700000001)], dtype=object)]

In [16]:
id = []
lat = []
lon = []
for j in lst_id_lat_lon:
  id.append(j[0][0])
  lon.append(j[0][1])
  lat.append(j[0][2])

In [17]:
for i in range(0,len(id)):
  print("id = {}, lat ={}, lon ={}".format(id[i],lat[i],lon[i]))

id = 1.7796310234394053e+18, lat =28.738901, lon =77.235416
id = -8.790560034584249e+18, lat =22.761965, lon =75.933778
id = 4.865606571395669e+18, lat =17.772251999999995, lon =83.35144199999998
id = 7.983871429718485e+18, lat =13.189053, lon =80.33543499999998
id = -7.364840628879981e+18, lat =18.54074, lon =73.931944
id = 5.375599021847303e+18, lat =28.718392, lon =77.283447
id = 5.518659601894558e+18, lat =17.817945, lon =83.384242
id = 4.580179444377398e+18, lat =26.960220000000003, lon =75.835756
id = -6.033798388179802e+18, lat =17.816579, lon =83.31978699999998
id = 7.66213914371992e+18, lat =13.149176, lon =80.30927199999998
id = 2.3509794022024387e+18, lat =22.745063, lon =75.888474
id = 4.37503983023287e+18, lat =26.980345000000003, lon =75.824489
id = 4.782582047729166e+18, lat =28.718379, lon =77.22522
id = 1.3200509770197112e+18, lat =26.211919, lon =87.570736
id = 5.731369272434022e+18, lat =13.153332, lon =80.34361299999998
id = 3.738280493453803e+18, lat =22.76201, lon =75.937988
id = 3.058487753865349e+17, lat =26.987566, lon =75.865534
id = 7.018600380123445e+18, lat =18.575747, lon =73.92622300000002
id = 5.115185276392513e+18, lat =18.556741, lon =73.88868000000002
id = 6.774071338248978e+18, lat =30.904178, lon =75.268748
id = 3.0991685461987686e+18, lat =27.17739700000001, lon =84.1409

In [18]:
for i in range(0,len(id)):
  df.loc[(df['device_id']==id[i])&(np.isnan(df['latitude'])),'latitude'] = lat[i]
  df.loc[(df['device_id']==id[i])&(np.isnan(df['longitude'])),'longitude'] = lon[i]

## Device Id

In [20]:
device_id_missing_lon = df[df['device_id'].isna()]['longitude'].unique()
device_id_missing_lat = df[df['device_id'].isna()]['latitude'].unique()

In [21]:
device_id_missing_lon,device_id_missing_lat

(array([75.882956, 75.888487, 75.846007, 75.923332, 75.992551, 73.862756,
        73.860165, 83.357991, 77.292481, 73.926499, 80.343613, 80.309272,
        77.274814, 83.371738, 75.95805 , 83.342711, 75.836167, 80.335435,
        73.169345, 70.686387, 77.303153]),
 array([22.814519, 26.948689, 26.960796, 22.777781, 31.561747, 18.628057,
        18.566925, 17.805195, 28.719966, 18.614812, 13.153332, 13.149176,
        28.721053, 17.752819, 22.817526, 17.822906, 26.95399 , 13.189053,
        21.194283, 21.790693, 28.728888]))

In [22]:
lst_id_lon = []
for i in device_id_missing_lon:
  a = df[(df['device_id'].isna()==False)&(df['longitude']==i)][['device_id','longitude','latitude']].value_counts()
  lst_id_lon.append(a.index.values)

In [23]:
lst_id_lat = []
for i in device_id_missing_lat:
  a = df[(df['device_id'].isna()==False)&(df['latitude']==i)][['device_id','longitude','latitude']].value_counts()
  lst_id_lat.append(a.index.values)

In [24]:
# a = 0
# for i in range(0,len(lst_id_lon)):
#   if lst_id_lon[i] in lst_id_lat:
#     pass
#   else:
#     a=1
#     print("{} and {} are different at index {}".format(lst_id_lon[i],lst_id_lat[i],i))
# if a==0:
#   print("both are same")

print(lst_id_lat)
print(lst_id_lon)

[array([(3.1328613559497626e+18, 75.88295600000002, 22.814519)],
      dtype=object), array([(-9.177251100412943e+17, 75.888487, 26.948689)], dtype=object), array([(-8.460337302442786e+18, 75.846007, 26.960796)], dtype=object), array([(7.597735768595925e+18, 75.92333199999999, 22.777781)],
      dtype=object), array([(1.750778632182067e+18, 75.99255099999998, 31.561747)],
      dtype=object), array([(9.027085705222633e+18, 73.862756, 18.628057)], dtype=object), array([(8.539870903150472e+18, 73.86016500000002, 18.566925)],
      dtype=object), array([(6.844192269280791e+18, 83.357991, 17.805195)], dtype=object), array([(5.098778421671838e+18, 77.29248100000002, 28.719966000000003)],
      dtype=object), array([(1.771585711650787e+17, 73.92649899999998, 18.614812)],
      dtype=object), array([(5.731369272434022e+18, 80.34361299999998, 13.153332)],
      dtype=object), array([(7.66213914371992e+18, 80.30927199999998, 13.149176)], dtype=object), array([(3.724654925765159e+18, 77.27481399999998, 28.721053)],
      dtype=object), array([(-3.1309031770761733e+18, 83.371738, 17.752819)], dtype=object), array([(-2.399250255599833e+18, 75.95805, 22.817526)], dtype=object), array([(6.619714762103552e+18, 83.342711, 17.822906)], dtype=object), array([(3.562355872640618e+18, 75.836167, 26.95399)], dtype=object), array([(7.983871429718485e+18, 80.33543499999998, 13.189053)],
      dtype=object), array([(-8.215770519233686e+18, 73.16934499999998, 21.194283)],
      dtype=object), array([(-1.688015122502424e+18, 70.686387, 21.790693)], dtype=object), array([(-6.875585507485886e+18, 77.30315300000002, 28.728888)],
      dtype=object)]
[array([(3.1328613559497626e+18, 75.88295600000002, 22.814519)],
      dtype=object), array([(-9.177251100412943e+17, 75.888487, 26.948689)], dtype=object), array([(-8.460337302442786e+18, 75.846007, 26.960796)], dtype=object), array([(7.597735768595925e+18, 75.92333199999999, 22.777781)],
      dtype=object), array([(1.750778632182067e+18, 75.99255099999998, 31.561747)],
      dtype=object), array([(9.027085705222633e+18, 73.862756, 18.628057)], dtype=object), array([(8.539870903150472e+18, 73.86016500000002, 18.566925)],
      dtype=object), array([(6.844192269280791e+18, 83.357991, 17.805195),
       (-3.873365070378428e+18, 83.357991, 17.763213)], dtype=object), array([(5.098778421671838e+18, 77.29248100000002, 28.719966000000003)],
      dtype=object), array([(1.771585711650787e+17, 73.92649899999998, 18.614812)],
      dtype=object), array([(5.731369272434022e+18, 80.34361299999998, 13.153332)],
      dtype=object), array([(7.66213914371992e+18, 80.30927199999998, 13.149176)], dtype=object), array([(3.724654925765159e+18, 77.27481399999998, 28.721053)],
      dtype=object), array([(-3.1309031770761733e+18, 83.371738, 17.752819)], dtype=object), array([(-2.399250255599833e+18, 75.95805, 22.817526)], dtype=object), array([(6.619714762103552e+18, 83.342711, 17.822906)], dtype=object), array([(3.562355872640618e+18, 75.836167, 26.95399)], dtype=object), array([(7.983871429718485e+18, 80.33543499999998, 13.189053)],
      dtype=object), array([(-8.215770519233686e+18, 73.16934499999998, 21.194283)],
      dtype=object), array([(-1.688015122502424e+18, 70.686387, 21.790693)], dtype=object), array([(-6.875585507485886e+18, 77.30315300000002, 28.728888)],
      dtype=object)]

In [25]:
id_lat = []
lat_lat = []
lon_lat = []
for j in lst_id_lat:
  id_lat.append(j[0][0])
  lon_lat.append(j[0][1])
  lat_lat.append(j[0][2])

In [26]:
id_lon = []
lat_lon = []
lon_lon = []
for j in lst_id_lat:
  id_lon.append(j[0][0])
  lon_lon.append(j[0][1])
  lat_lon.append(j[0][2])

In [27]:
id_lat,id_lon

([3.1328613559497626e+18,
  -9.177251100412943e+17,
  -8.460337302442786e+18,
  7.597735768595925e+18,
  1.750778632182067e+18,
  9.027085705222633e+18,
  8.539870903150472e+18,
  6.844192269280791e+18,
  5.098778421671838e+18,
  1.771585711650787e+17,
  5.731369272434022e+18,
  7.66213914371992e+18,
  3.724654925765159e+18,
  -3.1309031770761733e+18,
  -2.399250255599833e+18,
  6.619714762103552e+18,
  3.562355872640618e+18,
  7.983871429718485e+18,
  -8.215770519233686e+18,
  -1.688015122502424e+18,
  -6.875585507485886e+18],
 [3.1328613559497626e+18,
  -9.177251100412943e+17,
  -8.460337302442786e+18,
  7.597735768595925e+18,
  1.750778632182067e+18,
  9.027085705222633e+18,
  8.539870903150472e+18,
  6.844192269280791e+18,
  5.098778421671838e+18,
  1.771585711650787e+17,
  5.731369272434022e+18,
  7.66213914371992e+18,
  3.724654925765159e+18,
  -3.1309031770761733e+18,
  -2.399250255599833e+18,
  6.619714762103552e+18,
  3.562355872640618e+18,
  7.983871429718485e+18,
  -8.215770519233686e+18,
  -1.688015122502424e+18,
  -6.875585507485886e+18])

In [28]:
a = 0
for i in range(0,len(id_lon)):
  if id_lon[i]==id_lat[i]:
    pass
  else:
    a=1
    print("{} and {} are different at index {}".format(id_lon[i],id_lat[i],i))
if a==0:
  print("both are same")

both are same

In [29]:
for i in range(0,len(id_lat)):
  df.loc[(df['latitude']==lat_lat[i])&(np.isnan(df['device_id'])),'device_id'] = id_lat[i]

In [30]:
#counting the null values
for columns in df:
  print("The null values in {} is {}".format(columns, df[columns].isnull().sum()))

The null values in event_id is 0
The null values in device_id is 0
The null values in timestamp is 0
The null values in longitude is 0
The null values in latitude is 0
The null values in city is 0
The null values in state is 0

In [31]:
df.shape,df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   event_id   int64
 1   device_id  float64
 2   timestamp  object
 3   longitude  float64
 4   latitude   float64
 5   city       object
 6   state      object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

((3252950, 7), None)

# Gender Age data from Mysql Server

In [ ]:
# try:
#     mydb = connection.connect(host="cpanel.insaid.co", database = 'Capstone1',user="student", passwd="student",use_pure=True)
#     query = "Select * from gender_age_train;"
#     result_dataFrame = pd.read_sql(query,mydb)
#     mydb.close() #close the connection
# except Exception as e:
#     mydb.close()
#     print(str(e))

In [ ]:
# result_dataFrame.to_csv('gender_age.csv')

In [ ]:
# df1 = pd.read_csv('gender_age.csv')

# Phone brand device model data from Mysql Server

In [ ]:
# try:
#     mydb = connection.connect(host="cpanel.insaid.co", database = 'Capstone1',user="student", passwd="student",use_pure=True)
#     query = "Select * from phone_brand_device_model;"
#     result_dataFrame = pd.read_sql(query,mydb)
#     mydb.close() #close the connection
# except Exception as e:
#     mydb.close()
#     print(str(e))

In [ ]:
# result_dataFrame.to_csv('phone_brand_device_model.csv')

In [ ]:
# df2 = pd.read_csv('phone_brand_device_model.csv')

In [ ]:
# for column in df.columns:
#   print(df[column].unique())
duplicated_list = df.duplicated()

In [ ]:
df[duplicated_list]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

## Observations
No duplicate entries present in the dataset

# Same analysis for dataset 2 Gender_age.csv

In [32]:
df2 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/gender_age.csv',index_col=0)

In [76]:
df2.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [73]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  74645 non-null  int64
 1   device_id   74645 non-null  int64
 2   gender      74645 non-null  object
 3   age         74645 non-null  int64
 4   group       74645 non-null  object
dtypes: int64(3), object(2)
memory usage: 2.8+ MB

# Observations

Total Entries - 74646<br>
No Null values detected<br>
More analysis required for group column

In [74]:
df2.describe()

         Unnamed: 0     device_id           age
count  74645.000000  7.464500e+04  74645.000000
mean   37322.000000 -7.491354e+14     31.410342
std    21548.299759  5.327150e+18      9.868735
min        0.000000 -9.223067e+18      1.000000
25%    18661.000000 -4.617367e+18     25.000000
50%    37322.000000 -1.841362e+16     29.000000
75%    55983.000000  4.636656e+18     36.000000
max    74644.000000  9.222849e+18     96.000000

In [ ]:
df2.isna().sum()

Unnamed: 0    0
device_id     0
gender        0
age           0
group         0
dtype: int64

## Observation gender_age
age minimum - 1 , maximum - 96 and mean = 31.41 , median = 29<br>
Mean and median don't have high difference <br>
Assumption check - age is normally distributed ??

In [ ]:
df2['gender'].value_counts()

M    47904
F    26741
Name: gender, dtype: int64

## Observation

male entries are 47904<br>
female entries are 26741<br>

In [ ]:
df2.nunique()

Unnamed: 0    74645
device_id     74645
gender            2
age              85
group            12
dtype: int64

In [ ]:
df2['group'].unique()

array(['M32-38', 'M29-31', 'F24-26', 'F33-42', 'F27-28', 'M39+', 'M23-26',
       'M27-28', 'M22-', 'F43+', 'F23-', 'F29-32'], dtype=object)

In [ ]:
print("Male above age 39 are {}".format(df2[(df2['age']>39)&(df2['gender']=='M')]['age'].sum()))

print("Female above age 43 are {}".format(df2[(df2['age']>43)&(df2['gender']=='F')]['age'].sum()))

Male above age 39 are 372416
Female above age 43 are 199865

In [ ]:
print("Male below age 22 are {}".format(df2[(df2['age']<22)&(df2['gender']=='M')]['age'].sum()))
print("Female below age 23 are {}".format(df2[(df2['age']<23)&(df2['gender']=='F')]['age'].sum()))

Male below age 22 are 108781
Female below age 23 are 80571

In [ ]:
print("Male below age 10 are {}".format(df2[(df2['age']<10)&(df2['gender']=='M')]['age'].sum()))
print("Female below age 10 are {}".format(df2[(df2['age']<10)&(df2['gender']=='F')]['age'].sum()))

Male below age 10 are 25
Female below age 10 are 0

In [ ]:
print("Male below age 5 are {}".format(df2[(df2['age']<5)&(df2['gender']=='M')]['age'].sum()))
print("Female below age 5 are {}".format(df2[(df2['age']<5)&(df2['gender']=='F')]['age'].sum()))

Male below age 5 are 1
Female below age 5 are 0

In [ ]:
df2.sort_values('age',ascending=True)[['age','group']].head(25)

       age group
10385    1  M22-
60833    6  M22-
60832    6  M22-
60779    6  M22-
60831    6  M22-
57703   10  M22-
33595   10  M22-
15107   10  M22-
72936   10  F23-
72935   10  F23-
53296   11  F23-
53282   11  F23-
53994   11  F23-
52335   11  F23-
54609   12  M22-
53603   12  M22-
60527   12  M22-
61136   12  F23-
53642   12  F23-
59192   12  F23-
58421   12  M22-
61398   12  M22-
53136   12  F23-
55195   12  M22-
11510   12  M22-

In [ ]:
df2.sort_values('age',ascending=False)[['age','group']].head(25)

       age group
5958    96  F43+
60872   94  F43+
3704    90  M39+
32290   89  F43+
2971    89  F43+
32291   89  F43+
3068    88  F43+
3560    88  F43+
19602   88  M39+
3065    88  F43+
3067    88  M39+
2972    87  M39+
49530   87  M39+
2973    87  M39+
43127   86  M39+
43128   86  M39+
60342   86  M39+
60349   86  F43+
27797   85  M39+
60348   85  M39+
37118   85  M39+
3573    84  M39+
2799    84  F43+
9150    83  M39+
9151    83  M39+

## identified Question
What should be the age range to be considered in EDA?

# Unique Values
Gender - 2 (M,F)<br>
age - 85<br>
group - 12<br>

#groups are present as per gender

Male age group starts from M22- till M39+<br>
Female age group starts from F23- till F43+<br>

In [ ]:
duplicated_list_df2 = df2.drop('Unnamed: 0',axis=1).duplicated()

In [ ]:
df2.drop('Unnamed: 0',axis=1)[duplicated_list_df2]

Empty DataFrame
Columns: [device_id, gender, age, group]
Index: []

#Analysis of Phone_brand_dataset

In [33]:
df3 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/phone_brand_device_model.csv',index_col=0)

In [ ]:
df3.head(10)

   Unnamed: 0            device_id phone_brand        device_model
0           0  1877775838486905855        vivo                 Y13
1           1 -3766087376657242966          小米                V183
2           2 -6238937574958215831        OPPO                 R7s
3           3  8973197758510677470          三星               A368t
4           4 -2015528097870762664          小米             红米Note2
5           5 -8896952452425303597          小米             红米Note3
6           6 -2634171391322875113          小米                S5.1
7           7 -2526386806972133373          三星  Galaxy Grand Prime
8           8  1427934937997164515          小米               MI 2S
9           9  2866484947180243791          三星       Galaxy Note 2

In [78]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87726 entries, 0 to 87725
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   device_id     87726 non-null  int64
 1   phone_brand   87726 non-null  object
 2   device_model  87726 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.7+ MB

In [ ]:
df3.isna().sum()

Unnamed: 0      0
device_id       0
phone_brand     0
device_model    0
dtype: int64

## Observation
Total entries - 87726<br>
No missing values

In [ ]:
df3.nunique()

Unnamed: 0      87726
device_id       87726
phone_brand       116
device_model     1467
dtype: int64

In [ ]:
df3['phone_brand'].unique()

array(['vivo', '小米', 'OPPO', '三星', '酷派', '联想 ', '华为', '奇酷', '魅族', '斐讯',
       '中国移动', 'HTC', '天语', '至尊宝', 'LG', '欧博信', '优米', 'ZUK', '努比亚', '惠普',
       '尼比鲁', '美图', '乡米', '摩托罗拉', '梦米', '锤子', '富可视', '乐视', '海信', '百立丰',
       '一加', '语信', '海尔', '酷比', '纽曼', '波导', '朵唯', '聆韵', 'TCL', '酷珀', '爱派尔',
       'LOGO', '青葱', '果米', '华硕', '昂达', '艾优尼', '康佳', '优购', '邦华', '赛博宇华',
       '黑米', 'Lovme', '先锋', 'E派', '神舟', '诺基亚', '普耐尔', '糖葫芦', '亿通', '欧新',
       '米奇', '酷比魔方', '蓝魔', '小杨树', '贝尔丰', '糯米', '米歌', 'E人E本', '西米', '大Q',
       '台电', '飞利浦', '唯米', '大显', '长虹', '维图', '青橙', '本为', '虾米', '夏新', '帷幄',
       '百加', 'SUGAR', '欧奇', '世纪星', '智镁', '欧比', '基伍', '飞秒', '德赛', '易派',
       '谷歌', '金星数码', '广信', '诺亚信', 'MIL', '白米', '大可乐', '宝捷讯', '优语', '首云',
       '瑞米', '瑞高', '沃普丰', '摩乐', '鲜米', '凯利通', '唯比', '欧沃', '丰米', '恒宇丰',
       '奥克斯', '西门子', '欧乐迪', 'PPTV'], dtype=object)

# Observation
phone_brand have many chinese brand names and company provided equivalent english names are limited.<br>

Brand Name	Brand English Mapping<br><br>
'华为'	'Huawei'<br>
'小米'	'Xiaomi'<br>
'三星'	'Samsung'<br>
'vivo'	'vivo'<br>
'OPPO'	'OPPO'<br>
'魅族'	'Meizu'<br>
'酷派'	'Coolpad'<br>
'乐视'	'LeEco'<br>
'联想 '	'Lenovo'<br>
'HTC'	'HTC'<br><br>

We shall check these brand names for Delhi only

In [ ]:
for i in df3['device_model'].unique():
  print(i,end='   ')

Y13   V183   R7s   A368t   红米Note2   红米Note3   S5.1   Galaxy Grand Prime   MI 2S   Galaxy Note 2   R1C   大神F1Plus   note顶配版   Galaxy Mega 2   星星1号   Galaxy S4   MI 3   Find 7   C8816   红米note   X6 L   Galaxy Win   青春版   MX3   Y35   G520-5000   荣耀4A   魅蓝Note 2   Y560-CL00   荣耀7i   3000   荣耀畅玩4C   C730Lw   红米2A   A1   One   Galaxy J7   R3   MX2   荣耀畅玩5   荣耀7   MI 4   One M8   红米1S   麦芒4   Galaxy S6 Edge   A3800d   P780   Ascend G7   荣耀6   Xperia SL   Y17T   荣耀畅玩4X   Ascend P7   Galaxy Grand 2   荣耀3X畅玩版   荣耀X2   Ascend P8   R2017   魅蓝NOTE   Mate 2   M8   T87+   X710L   A890e   R7   X5M   MX5   Galaxy Mega 5.8   L81   Xperia Z1   荣耀6 Plus   X5Max+   Galaxy J5   Galaxy Note 4   A31   GN706L   G3   P8 Lite   Sensation XE with Beats Audio Z715e   A880   荣耀+   X5L   8720L   IVO 6655   R7 Plus   荣耀畅玩4   MX4   Y635-TL00   Galaxy S3   X3L   3   R807   黄金斗士A8   One X   小米note   R6007   Galaxy S2 Plus   R1   荣耀3C   小米4C   R823T   Mate 7   MI 2   F2   Galaxy S5   Xperia TX   Galaxy Trend DUOS 2   Z1   Y11IT   红米note增强版   天鉴W900   Ascend G700T   Galaxy Note 3   Galaxy R   F301   荣耀畅玩5X   N1 Mini   Find 5   红米2   X5Pro   X5V   A11   MI pad   Z7 Mini   Galaxy Note 5   MediaPad M2-801W   Galaxy Grand Neo Plus   Ascend GX1   R817   X3T   Galaxy E7   X817   GN700W   Y20T   A680   Y27   5891   大神F1   UIMI3   Compaq 7   G628   IVO 6622   B199   Galaxy Trend 3   X1ST   S7568I   C8818   Y622   魅蓝2   Mate 7 青春版   1107   Galaxy S2   乐檬K3 Note   Galaxy S4 Zoom   Galaxy Ace Dear   火星一号   乐檬K3   Ascend P1   R831T   M9   U9508   X5Max   2   X8888   联想黄金斗士S8   S60t   大神F2   Xplay3S   R1S   Y60-C1   Nexus 5   UIMI4   R809T   Q507T   Moto X Style   A788t   魅蓝   Y13iL   荣耀6 plus   G610S   N1T   X1 7.0   Y613F   Galaxy A7   N1   Y23L   大神F2全高清版   灵感XL   旗舰版   Y927   Z9 mini   X3S   Y15   R831S   R815T   R819T   Galaxy Core Prime   Butterfly   Galaxy Style DUOS   Xperia S   Galaxy Note 3 Lite   P6   S7   Galaxy S6   坚果手机   M210   S7I   A51   X907   红米   Y33   超级手机1 Pro   Galaxy Grand DUOS   Xperia Z5   G620-L75   畅享5   Xplay   MX4 Pro   Galaxy S6 Edge+   8185   G3588V   Y937   T528t   Galaxy A8   N3   G610T   S7T   V5 Max   MI One Plus   S90-t   Xperia Z3 mini   8105   7270-W00   M8St   Desire 820   A750   S898t   魅蓝metal   P970   Galaxy Mega 6.3   5890   Z9 Max   PRO5   X5SL   Y29L   E602T   GN150   8190Q   E620M   超级手机1   8702D   Galaxy Grand   Galaxy Note   U960E   Grand X   Xperia arc S   T708   X   T50   GN128   超级手机1s   L700T   Galaxy A5   F103S   5951   H1   A820   G7200   荣耀U8860   纽扣   LT01   Y11   Y635   荣耀畅玩平板T1   Xperia Neo   G7 Plus   Y13L   HT-I860   8056   EVO 3D X515m   红辣椒 X1   Galaxy A3   春雷HD   Galaxy S2 HD LTE E120S   L5Pro   ivvi 小i   荣耀畅玩4C运动版   麦芒3   Ascend G700   小鲜2   Nexus 4   R827T   G520-0000   Ascend P6   ELIFE E3T   大器2   5950   Q519T   Galaxy Tab P6800   A398t   锋尚   Z5S   Y511-T00   MI One C1   8085q   A3900   M4   L1 mini   V188S   大神X7   Grand X Quad   A320t   G2   Galaxy Core Advance   Y28L   Y22IL   小苹果   SHV-E210L   乐玩   F103   Y928   Galaxy Ace 3   R821T   大神Note3   MI 2A   Moto X   Y321C   Xperia Z2   I9118   8750   K860i   G730-C00   A708t   A670t   S658t   Galaxy On7   Desire 820 Mini   Galaxy Ace   T1   A33   603e   LT416   G11   S7568   T528w   6607   么么哒3N   8730L   M2   Y11IW   W2015   锋尚Pro   R830   ELIFE S5.5   Q505T   9190l   Galaxy Note Edge   Touch 2C   红辣椒   X3F   Y913   Galaxy Trend DUOS   Optimus G   7296   R5   M512   Galaxy On5   7105   Galaxy S3 Neo+   G520-T10   VIBE X   Mate 8   S1   MI 1S   5263   S2y   A369   Grand Memo 2   G750-T20   Y923   M032   R8205   A688t   荣耀3X   三星big foot   Touch 2   Galaxy Premier   Y37   U956   S810t   HN3-U01   S650   L128   IPH8   荣耀3C畅玩版   1100   S5830I   X6 Plus D   G606   B9388   Desire 826   A5800-D   Galaxy Core Lite   MI pad 2   A360t   SM-T705C   G4   ono   Find   Galaxy Core Max   ivvi 小骨Pro   A53   G718C   红辣椒XM   V5S   3007   D800   X6 Plus   S12   I779   Y1   远航3   My 布拉格   Y18L   Blade S6 Lux   H1S   GN715   metal 标准版   U879   Desire 7088   U930HD   Galaxy Note 10.1   G3818   畅享5S   U701   X6 D   MediaPad M2-803L   Blade A1   Galaxy Nexus   Desire 610t   Y19T   红辣椒Note   锋尚Max   Galaxy S L   2016版 Galaxy A9   Galaxy S3 Mini   GN152   Desire 816   VIBE X2   A516   S7898   红牛V5   Moto X Pro   Y13T   2016版 Galaxy A5   S11T   VIBE Z2   A7   7270   S6   Xperia C   7295   锋尚2   V4   M5   H5   R833T   Grand S 2   G510   C8817E   5263S   Y22L   S820   Y51   金钢   T329t   7298D   野火S   Galaxy J3   iPh-800   C8815   P335M   S5.5L   1105   8729   T328w   Xperia Z   W2014   Galaxy Mega Plus   G660-L075   5200S   Y613   Mate S   A298t   Galaxy Tab 3 8.0   T20L   U880F1   2016版 Galaxy A7   X8T   Two   N1 max   红米3   R820   小辣椒 X3   L920   One S   Ulike2   A376   8029   U707T   Galaxy Win Pro   Z5S Mini   ZenFone Max   E601M   GN708T   Xperia C3   I8268   Galaxy Tab 3 10.1   ZenFone 2   荣耀平板T1-823L   Y600D   S2L   Galaxy Tab 2 P3100   8122   Y518-T00   V819 3G   D2-M   A580   U3   S720   Xperia acro S   X3V   GN151   X6   5891Q   5956   P316L   :UOOGOUT1   Y516   C8816D   7269   Galaxy S7 Edge   U11   SOP M3   A828t   Y3T   大神Note   7295C   A850   U705T   A390   Galaxy Tab P3108   A789   E1T   A2800d   7295A青春版   MI 2C   M031   C8813   A199   795+   E6   802w   Xperia T   D500   5219   R813T   D350   8190   7231   A678t   Galaxy Note 8.0   A380t   A820t   7372   X1   E1   X1S   8195   MT1-U06   Y600-U00   S890   HS-U978   H7   Y320   Xperia P   Galaxy Ace 2   S920   Q705U   U817   T2   S9   V719   A356   EG939   A388t   R811   V1   L22   8720   S850t   S3+   V182   M100   P770   iSuper S2   A798t   T9   C8813Q   EG978   Galaxy S Advance   7620l   8702   MI 4S   8705   T29   Y17W   K68w   Xshot   Ascend G6   G730-T00   GN700T   大Q Note   P880   X50TS   M811   X68T   A390t   X6666   Y618-T00   ZenFone 5   IdeaTab A5000-E   Galaxy Ace Plus   M1   Galaxy Tab S T705C   Galaxy Tab 4 T231   G730-U00   U809   MI 5   V8   VIBE Z   XL   MOMO9   M310   Galaxy Core Mini   GN5001S   么么哒   Y330   小辣椒 M2   IVO 6600   黄金斗士Note8   Galaxy Trend 2   Mate   7295+   7320   U930   Y300   U7   A660   T3   P308L   U969   Xperia Z Ultra   T91   炫影S+   Galaxy Tab 7.0 Plus   M701   A658t   Moto G   P331M   P700i   N798+   7235   Galaxy S4 Active   E7   Xperia Z3   S720i   TAB 2 A7-30   P1   8085n   S5300   V987   Grand Memo   K1   L7   P520L   P700   Galaxy S4 Mini   风华3   Xperia SP   V70   MT2-C00   Xperia ion   7268   5892   G521   M6-M7   TALK 7X四核   i9   V889D   iSuper S1   7236   T9108   MM1101   L810   Xperia T2 Ultra   U960S3   Touch 3   7230   Galaxy Gio   U9815   8012   A630t   V818   Galaxy J1   Galaxy Fame   A800   T958   A820e   A278t   N1W   Y500   U960S   9976A   GN100   X805   8295M   C8817L   A505e   8198T   GN137   U51GT-W   K900   ME371MG   A520   J738M   A766   5860A   R9   S696   9180   S868t   TALK 9X   Optimus LTE   G615-U10   A830   Galaxy Core 4G   Y511-U00   V185   2016版 Galaxy J7   Y80D   天鉴T1   G716   Galaxy W   R830S   Y22   A850+   U795+   R8000   E5   GN9002   E6T   Galaxy J   5217   Z9   土星一号   W999   XT615   Y627   Vibe Z2 Pro   麦芒3S   8079   Q802T   W2013   BF T18   N910C   E912S   8295   L9   A770e   Q501U   SCH-I939   G6-U00   L1   E3   A698t   A765e   Xperia Z3+ Dual   A3000-H   Y623   G717C   飞马   T329d   T8620   S9T   3S   ivvi K1 mini   S5831I   联想VIBE X2   7296S   U966   A785e   T328t   T7   威武3   P8max   E70-T   E8   R9 Plus   P306C   One E8   Q503U   Galaxy S2 Epic 4G Touch   P9   201   Droid Ultra   T80   M812C   V955   3005   红辣椒任性版 Plus   L5 Plus   Galaxy Alpha   S938t   XT1060   U950   A2580   S899t   VS980   U980   C8650   S850   U2   Vibe Shot   Desire 626   X2   Z7 Max   Galaxy Mini   A750e   T619+   S7566   小辣椒 9   Galaxy Core 2   R805   GN305   C8812   A760   大观4   A399   超级手机Max   Galaxy K Zoom   R5s plus   P332U   N910U   星星2号   Blade S6   V956   雷霆战机   EG970   S5.1Pro   MI 1   X80HD   A858t   V526   Y628   G610C   R801   Y3100   Touch 3c   威武3C   F303   One max   5360   A560   8021   Galaxy Golden   I9050   7i   倾城L3   M20-T   E613M   G730-L075   Galaxy S Plus   8085   Z9 mini 精英版   小辣椒S1   8721   S686   S858t   P705   L8   小辣椒 5   G3609   E75T   Optimus G Pro   Galaxy Tab 3 Lite T111   R817T   T03锋至版   N909   乐玩2C   GN708W   C630Lw   VT898   One M9+   Nexus S   A7-30   S930   P70   C230w   Desire 616   7260   AxonMini   8712S   GT7   Galaxy Tab 4 T331C   One E9   么么哒3S   N1-Y   Y31   V5   乐檬K31   黄金斗士S8畅玩版   SM-T325   Galaxy Trend   IdeaTab A2207A-H   A318t   U807   XT910   A706   A330e   D520   K860   A8-50   SM-T2558   8295c   ELIFE E6 mini   A630   Grand Era   TL1000   Z5   S5000   C8813DQ   T9508   R2010   Q201T   N821   idol X   DROID RAZR   G6-C00   ELIFE E7 Mini   A5   Ascend D2   V967S   X5   GN168t   YOGA Tablet B6000   G3819D   Galaxy Tab 2 P5110   V6   Y320T   A288t   Touch V   时尚手机   A628t   OKU3   I8258   Galaxy Tab 3 7.0   Defy+   P301M   5872   V9   8732   8070   Galaxy Y   7060   S2   GT-I8160   T967   A3300-T   T5   Tab2 A7-10F   A308t   Galaxy Tab Pro T321   V975s Core4   Desire S   L168   R850   GN705T   7251   M601   U5482   S90-u   Xperia U   U880   D330   C986t   EV5   T528d   G630   A656   S660   T60   Y325   Q7   I95   8089   Galaxy S   5832   G525   Desire 310   EG966   V10   大神1s   GN135   S3   M10-M   A378t   A889   s820e   5860S   8076D   8017   Butterfly s   M6   Xperia ZR    608t   GN810   N986   Blade C   7019   N828   S880i   M030   G616-L076   A208t   GN139   VT898S   U939   Q301C   Galaxy Ace DUOS   A269i   GN878   One M8 Eye   A238t   VT868   A398t+   Q701C   TS1018   N818   T20   8707   S8-701u   Desire 5088   8017-T00   M8x   T327w   GN105   E600M   Xperia ZL   606w   MK260   memo 5S   Desire 609d   A3   Desire D516d   T8830Pro   HT-I717   A6800   I630T   T35   8713   Galaxy Tab S T800   E621T   Galaxy Grand Max   倾城L3C   t789   U701T   Nexus 7   5218S   L70   M3   Q302C   U8825D   V919   One ME   Galaxy Infinite   Y220T   IVO 6688   Y610-U00   5216D   小辣椒 4   T820   X920e   L820   S939   Xperia Z1 炫彩版   T9003   微客   T21   V95   A860e   V188   S8-701w   S5Q   One M9   voga v1   MM1103   M535   5261   i1   idol3   G5   S5   T12   A2860   黄金斗士青春版   P8   802d   红辣椒NX Plus   A51kc   T004   BF A500   T1-821w   Sensation Z710E   小鲜3   小星星   M5 Plus   Galaxy Note 10.1 2014 Edition P601   Galaxy S DUOS   A355e   A30   TL500   Z5 Mini   BM001   A690   A68e   W619   GN106   GT-N8000   EG971   N880F   J320T   EG936D   Desire D516t   T929   I8250   A338t   T327t   N881F   GN180   5316   5930   S880   MC002   U819   JX8166   A300t   8717   9976D   Desire D316d   A805e   KDOOR X5-Y12   大器3   S960   X7   Desire HD   E602M   H2   78P01   A588t   T619   8150   LT02   M1L   U8   8712   2C   M201S   T90   M20-M   SM-T2556   M3S   S6-NT1   A3600d   X98 3G   小辣椒 6   A606   Q801L   P318L   S860e   T9600   T890   Galaxy Tab P7500   金刚II   F105   L108   A768t   D557   W800   VIBE P1   L100   R2   中兴远航3   C03   Axon天机   OKA51   A385e   Galaxy Tab 2 P5100   N880E   MediaPad 10 Link   XT1033   EG980   210R   U86   Doeasy E700   Q501T   Y310-T10   Y310-5000   S6T   s800   GN108   K88L   U1   Z4   8076   5311   L930i   Xperia M2   P2   L820c   VT888   U81t   Xperia ZR   I630M   C8813D   青漾3   Xperia ray   GN9004   Galaxy Grand 2 LTE   5876   C8812+   D516w   D360   小辣椒 3   G629   P500M   GN800   N2   DM   I639T   PHAB Plus   Galaxy Tab 3 Lite T110   U968   Sonic+   P302C   Nexus 6P   7605   Y70-C   U808   T703   K23   旋影90w   V931   小辣椒 7   W700   H3   Tab2A7-20F   8736   Mos1   S8-50   5216s   W88   Ascend G330C   BM002   醉享   MAX3   L5 mini   渴望HD   A358t   N919D   5879   E913   V981   小辣椒 M3   Galaxy Tab S T805C   Desire V   I635T   E99   X6088   Optimus G Pro 2   A500   5310   7275   P501M   P518L   E260-T   U818   P502U   I900   U880S   飞马3   7061   BM002-G5   P360W   P21   E968   HT-I857   Y523-L176   领世旗舰3   K80   Galaxy Ace 4   L82   Moto X 3   小辣椒X4   V880   i600   U889   F320L   K012   U55GT   Xperia Z5 Premium   A375e   302U   T00G   L823   C666t   EG929   MediaPad M1   W6618   A590   a218t   E956Q   S300   A3500   E50-T   GN705   BM003   A780   D1   Q3C   A360e   P305   F1   LT988   5313S   红辣椒Note3   Galaxy S7   Xplay5   Desire 816x   S668t   T9608   IdeaTab A1010-T   W700+   5200   F240S   M15   T928   Q805T   U970   A396   S90-e   天鉴W808   J636D+   V923   T13   P51   X10i   E820   GN5002   G9   P9 Plus   A328t   8715   U880E   天鉴W900S   One A9   8722   V889M   T780+   N919   Galaxy Core   U793   L855   T9500   P3   大观铂顿   S560   Xperia J   A3890   G610M   魅蓝Note3   Hol-U10   Q509T   XT928   X18   A630e   MM1104   I7   A380e   A65   U25GT   Razr V锋芒   T6   IVO 6666   Z7   S8-303L   9300-M9   V983   G730-U30   V701s Core4   A366t   V965T   ME7510KG   W2016   One X9   T328d   YOGA Tablet B8000   A100   C986t+   ZenFone Selfie   火星一号探索版   P596   S838M   IdeaTab A1000-T   G309T   A780e   DROID RAZR M   VIBE X2 Pro   Moto X极   A395e   Gigaset ME   Ascend D1   Galaxy Tab P1000   Find 3   U960   G620-L72   T918   U936   I699I   E622M   X80h   B8080-F   魔镜 X5   Moto Turbo   A1020   T860   S870e   小章鱼   Z1988   X98 Air 3G   King 7   King 7s   T621   Y320C   M228-M51   I6   Galaxy S DUOS 2   乐檬3   T89-2   m310   H6   乐檬X3   飞马2 Plus   Galaxy Tab S T705   IVO 8800   U59GT

## Observation
In device model, few names are in chinese. <br>
No equivalent english names provided

In [ ]:
duplicate_in_df3 = df3.drop('Unnamed: 0',axis=1).duplicated()

In [ ]:
df3.drop('Unnamed: 0',axis=1)[duplicate_in_df3]

Empty DataFrame
Columns: [device_id, phone_brand, device_model]
Index: []

No Duplicate values present

In [ ]:
# id = []
# miss = []
# for i in df2['device_id'].unique():
#   if i in df['device_id'].unique():
#     id.append(i)
#   else:
#     miss.append(i)

KeyboardInterrupt: ignored

Merge

In [34]:
df['device_id'] = df['device_id'].apply(lambda x: abs(x))
df2['device_id'] = df2['device_id'].apply(lambda x: abs(x))
df3['device_id'] = df3['device_id'].apply(lambda x: abs(x))

In [35]:
merged_1 = df.merge(df2, how = "left", on = "device_id")

In [36]:
merged_1.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi,M,35.0,M32-38
1,2955066,4.734221e+18,2016-05-01 20:44:16,88.388361,22.660325,Calcutta,WestBengal,NaN,NaN,NaN
2,605968,3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi,NaN,NaN,NaN
3,448114,5.731369e+18,2016-05-03 13:21:16,80.343613,13.153332,Chennai,TamilNadu,NaN,NaN,NaN
4,665740,3.388880e+17,2016-05-06 03:51:05,85.997745,23.842609,Bokaro,Jharkhand,NaN,NaN,NaN

In [37]:
merged_1.shape

(3252950, 10)

In [38]:
merged_1.isna().sum()

event_id           0
device_id          0
timestamp          0
longitude          0
latitude           0
city               0
state              0
gender       3235968
age          3235968
group        3235968
dtype: int64

In [39]:
device_id_list_merged_1 = merged_1[(merged_1['gender'].isna()==False)&(merged_1['age'].isna()==False)&(merged_1['group'].isna()==False)]['device_id'].unique()

In [40]:
len(device_id_list_merged_1)

406

In [41]:
for i in device_id_list_merged_1[:10]:
  print(merged_1[(merged_1['device_id']==i)&(merged_1['gender'].isna())])

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []
Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []
Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []
Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []
Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []
Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []
Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []
Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []
Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []
Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state, gender, age, group]
Index: []

In [42]:
merged_1.nunique()

event_id     3252950
device_id      60865
timestamp     588126
longitude      60095
latitude       60177
city             933
state             32
gender             2
age               51
group             12
dtype: int64

### first and last dataset

In [43]:
merged_2 = df.merge(df3, how = "left", on = "device_id")

In [44]:
merged_2.nunique()

event_id        3252950
device_id         60865
timestamp        588126
longitude         60095
latitude          60177
city                933
state                32
phone_brand          26
device_model        191
dtype: int64

In [45]:
merged_2.isna().sum()

event_id              0
device_id             0
timestamp             0
longitude             0
latitude              0
city                  0
state                 0
phone_brand     3235968
device_model    3235968
dtype: int64

In [46]:
device_id_list_merged_2 = merged_2[(merged_2['phone_brand'].isna()==False)&(merged_2['device_model'].isna()==False)]['device_id'].unique()

In [47]:
len(device_id_list_merged_2)

406

In [49]:
device_id_list_merged_2

array([2.97334779e+18, 1.44704917e+16, 3.87252179e+18, 4.97307639e+16,
       8.76587737e+18, 2.04981320e+16, 6.25452661e+15, 1.18022900e+18,
       2.72877884e+16, 2.68295479e+17, 4.05126807e+18, 7.28578686e+17,
       3.04562196e+18, 1.84136202e+16, 2.79778990e+16, 6.85719514e+15,
       2.24038934e+16, 1.71525482e+18, 1.52687161e+16, 4.54188019e+17,
       1.36785975e+18, 2.47071895e+17, 4.89144457e+17, 1.10568779e+18,
       6.71187700e+17, 9.94790294e+16, 4.89270408e+17, 2.66249525e+17,
       1.14999918e+18, 2.94044664e+15, 9.51773725e+17, 1.64535170e+17,
       1.32878992e+18, 1.19329363e+16, 1.16111271e+18, 8.22137105e+14,
       9.67151454e+17, 2.03614021e+17, 2.77799711e+16, 5.03873307e+15,
       2.87603673e+15, 1.04573805e+18, 5.90096778e+15, 2.56886687e+15,
       6.57709855e+16, 4.49698453e+15, 1.00683987e+16, 1.37006236e+17,
       3.47294291e+15, 1.53238293e+17, 5.02110504e+15, 7.40599713e+16,
       1.36421321e+15, 1.13818766e+18, 1.87007480e+18, 3.22537831e+16,
       2.34657041e+16, 1.67121687e+16, 7.40932789e+15, 4.56613707e+14,
       2.84926192e+16, 5.21231289e+15, 1.43823644e+18, 1.27044993e+17,
       3.43857903e+18, 3.04562424e+16, 7.19229544e+17, 7.06463938e+16,
       3.58226278e+17, 1.33741793e+18, 1.43849521e+18, 3.96602223e+17,
       3.55442334e+16, 3.19779801e+16, 3.76220316e+17, 1.46234035e+18,
       6.88633794e+18, 2.46916313e+16, 6.53752691e+18, 7.34873161e+18,
       2.71678148e+18, 1.07955454e+15, 1.62745798e+16, 1.65132475e+17,
       1.57578241e+16, 2.80156430e+17, 7.70600432e+17, 1.71170061e+17,
       2.36977955e+14, 1.72861220e+17, 2.85930192e+16, 4.68366469e+17,
       1.75894329e+18, 5.48549230e+17, 2.63935821e+16, 7.76379186e+14,
       3.25563368e+15, 7.06659152e+17, 3.92728665e+16, 6.28021432e+16,
       5.09541508e+17, 1.11627672e+18, 1.37136958e+16, 3.45178776e+18,
       4.19885172e+17, 8.00073961e+17, 5.33470286e+17, 3.26476686e+15,
       5.10943477e+16, 1.09168377e+16, 2.79317695e+17, 4.55780330e+18,
       1.17098077e+16, 3.03628038e+17, 7.37948117e+16, 2.45720156e+17,
       4.13037859e+17, 2.26579618e+17, 4.19523816e+17, 2.89854818e+16,
       5.25794404e+18, 8.52444087e+17, 2.37767836e+17, 2.00977862e+17,
       8.61454857e+18, 1.39030483e+18, 4.37380262e+15, 1.27432819e+17,
       8.23937830e+18, 1.88413589e+16, 4.59849290e+15, 5.81164204e+15,
       4.22412803e+17, 2.21222182e+18, 6.66270172e+17, 2.10094831e+18,
       3.33661783e+17, 5.37512782e+17, 2.99094822e+15, 5.37298419e+15,
       7.02395091e+16, 4.59384322e+15, 9.91251404e+17, 1.91076226e+18,
       7.32362656e+17, 1.91423938e+16, 2.02707423e+17, 8.95908699e+16,
       5.45194935e+18, 9.08613769e+18, 2.30917904e+15, 3.08476552e+16,
       7.63686245e+16, 1.11278203e+18, 1.36282185e+17, 7.00156738e+17,
       8.49229701e+15, 1.87574672e+18, 2.64880982e+16, 2.89149202e+18,
       2.38566868e+15, 2.11124837e+18, 2.17264123e+18, 4.87145496e+15,
       1.50345202e+17, 3.47796418e+16, 6.55272939e+15, 6.91372871e+16,
       6.82284660e+18, 3.72294428e+17, 2.26753190e+15, 3.49261233e+17,
       7.15643433e+17, 6.73747677e+16, 5.96057793e+18, 1.05387424e+17,
       4.92452180e+16, 1.96059256e+18, 1.53351135e+16, 1.50745011e+16,
       2.53204183e+17, 3.00384235e+18, 4.30505903e+18, 6.55723219e+17,
       1.09212095e+16, 2.25042386e+16, 5.76676656e+15, 4.40937049e+17,
       9.86956617e+15, 1.98590849e+17, 5.11092911e+18, 4.11608291e+16,
       6.75524477e+15, 5.60036520e+18, 2.07934154e+17, 4.40774665e+15,
       5.12596560e+18, 2.77503882e+18, 1.30611708e+16, 5.01857240e+16,
       1.32445096e+17, 2.95437682e+17, 4.39940138e+17, 2.82329647e+17,
       2.27790329e+18, 7.03335249e+15, 4.78923537e+17, 2.34237730e+16,
       3.86301248e+16, 1.44773621e+18, 8.15402378e+16, 3.30528020e+17,
       1.81509225e+16, 2.08589692e+18, 4.65445793e+16, 4.43549061e+18,
       3.00930182e+17, 3.33303924e+16, 1.18384108e+18, 1.15652347e+17,
       1.18881458e+17, 5.57225734e+15, 4.69049637e+18, 4.72632306e+18,
       6.26210897e+18, 3.19498714e+17, 1.92060442e+16, 2.95344839e+18,
       4.60883767e+18, 1.96811093e+18, 3.42511947e+16, 1.53163908e+18,
       2.20812306e+16, 8.08231076e+18, 4.38197213e+15, 3.17415430e+16,
       1.99241832e+17, 2.90955719e+14, 6.98768315e+18, 4.88992045e+15,
       1.32937774e+18, 6.22445827e+16, 2.61747713e+16, 8.35887480e+15,
       5.94711598e+17, 8.37096895e+18, 2.40966260e+16, 4.43116104e+15,
       3.56610179e+16, 1.36913131e+16, 1.26811152e+17, 3.43668498e+18,
       1.18261157e+18, 1.80168660e+17, 3.54355258e+17, 2.26374207e+18,
       5.77928585e+15, 2.28502165e+17, 2.26970225e+18, 6.72623889e+16,
       2.22740959e+17, 1.68500436e+15, 9.68662067e+17, 1.89691453e+16,
       2.94875983e+16, 3.95803070e+18, 1.28817266e+17, 3.37544621e+16,
       3.95034570e+15, 1.78941211e+16, 2.25543569e+17, 2.22437178e+16,
       2.60070833e+18, 7.12147206e+15, 3.36645737e+18, 6.58519073e+18,
       7.39201708e+14, 2.48637671e+18, 7.52820106e+16, 5.25255365e+17,
       1.03284860e+17, 1.77870531e+16, 3.33494090e+17, 4.64798101e+18,
       4.35716534e+16, 2.29807415e+16, 2.19357084e+15, 5.67999004e+17,
       8.65450723e+16, 1.22215200e+16, 1.64797211e+16, 7.76745659e+15,
       3.41245636e+16, 1.63114935e+18, 1.25544299e+16, 4.82312485e+17,
       6.35527625e+17, 1.60202219e+16, 6.39445775e+15, 1.22656427e+14,
       1.37459575e+16, 7.42080129e+18, 2.48228454e+17, 4.75771101e+16,
       4.31962870e+15, 9.40994501e+15, 3.23509087e+18, 5.27769990e+17,
       2.32268294e+15, 1.14595566e+16, 1.41172008e+18, 5.06079703e+16,
       2.39559803e+15, 5.03881920e+18, 6.28914006e+18, 8.55325567e+17,
       3.12118886e+17, 5.24773843e+18, 3.66715649e+17, 7.16553931e+16,
       6.29591773e+15, 8.39732497e+15, 1.80827805e+16, 4.38036353e+16,
       6.55393726e+16, 6.48247131e+15, 1.29538362e+17, 3.91754837e+18,
       2.97673202e+16, 1.69708678e+18, 2.22613443e+16, 2.39987066e+17,
       1.60541516e+16, 4.00152486e+17, 4.02370447e+16, 5.45578754e+16,
       1.68698814e+17, 1.71545169e+16, 4.49351430e+15, 3.15979846e+17,
       5.40668461e+17, 4.34877031e+18, 4.61266605e+17, 7.10824367e+17,
       6.10468700e+16, 2.79977216e+17, 2.99635178e+18, 1.02962514e+18,
       3.46208700e+15, 1.51237770e+18, 5.04873634e+15, 1.13055226e+18,
       5.33357238e+16, 3.64685464e+17, 4.51251346e+18, 1.54829575e+16,
       1.68156698e+16, 7.58448400e+18, 6.23530753e+18, 3.43075478e+16,
       1.45870914e+17, 2.13745727e+16, 4.30727257e+16, 4.79132455e+17,
       1.63831293e+18, 1.95607838e+16, 5.68264537e+15, 6.51615733e+15,
       2.05602785e+17, 4.04900823e+17, 1.09384798e+18, 3.30988452e+17,
       5.46574143e+15, 1.54735028e+16, 4.45869880e+17, 1.35710738e+16,
       1.21398189e+16, 4.93220388e+16, 1.61676142e+18, 1.52861396e+16,
       3.39822888e+16, 8.79938246e+17, 2.05679330e+17, 1.03854963e+17,
       5.16224044e+17, 1.33147243e+16, 2.40435047e+17, 2.58158835e+17,
       5.03661145e+13, 1.02528480e+18, 2.33660310e+16, 7.27634492e+15,
       5.93946150e+16, 2.17545249e+17, 9.88097633e+15, 2.59987151e+16,
       9.09824469e+16, 1.02546693e+18, 7.06565434e+16, 3.29961892e+17,
       2.28846788e+17, 2.73468922e+18, 1.84459560e+17, 4.18487201e+18,
       3.71136168e+18, 3.50184659e+18])

In [48]:
device_id_list_merged_2 == device_id_list_merged_1

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [50]:
sum = 0
for i in device_id_list_merged_1:
  print(df[df['device_id']==i]['device_id'].value_counts())
  sum = sum + df[df['device_id']==i]['device_id'].value_counts().values

2.973348e+18    194
Name: device_id, dtype: int64
1.447049e+16    49
Name: device_id, dtype: int64
3.872522e+18    69
Name: device_id, dtype: int64
4.973076e+16    333
Name: device_id, dtype: int64
8.765877e+18    466
Name: device_id, dtype: int64
2.049813e+16    27
Name: device_id, dtype: int64
6.254527e+15    334
Name: device_id, dtype: int64
1.180229e+18    60
Name: device_id, dtype: int64
2.728779e+16    1091
Name: device_id, dtype: int64
2.682955e+17    20
Name: device_id, dtype: int64
4.051268e+18    20
Name: device_id, dtype: int64
7.285787e+17    43
Name: device_id, dtype: int64
3.045622e+18    19
Name: device_id, dtype: int64
1.841362e+16    4
Name: device_id, dtype: int64
2.797790e+16    200
Name: device_id, dtype: int64
6.857195e+15    159
Name: device_id, dtype: int64
2.240389e+16    128
Name: device_id, dtype: int64
1.715255e+18    18
Name: device_id, dtype: int64
1.526872e+16    297
Name: device_id, dtype: int64
4.541880e+17    151
Name: device_id, dtype: int64
1.367860e+18    141
Name: device_id, dtype: int64
2.470719e+17    73
Name: device_id, dtype: int64
4.891445e+17    17
Name: device_id, dtype: int64
1.105688e+18    47
Name: device_id, dtype: int64
6.711877e+17    127
Name: device_id, dtype: int64
9.947903e+16    73
Name: device_id, dtype: int64
4.892704e+17    204
Name: device_id, dtype: int64
2.662495e+17    189
Name: device_id, dtype: int64
1.149999e+18    57
Name: device_id, dtype: int64
2.940447e+15    87
Name: device_id, dtype: int64
9.517737e+17    186
Name: device_id, dtype: int64
1.645352e+17    39
Name: device_id, dtype: int64
1.328790e+18    17
Name: device_id, dtype: int64
1.193294e+16    94
Name: device_id, dtype: int64
1.161113e+18    209
Name: device_id, dtype: int64
8.221371e+14    8
Name: device_id, dtype: int64
9.671515e+17    191
Name: device_id, dtype: int64
2.036140e+17    306
Name: device_id, dtype: int64
2.777997e+16    66
Name: device_id, dtype: int64
5.038733e+15    330
Name: device_id, dtype: int64
2.876037e+15    76
Name: device_id, dtype: int64
1.045738e+18    99
Name: device_id, dtype: int64
5.900968e+15    89
Name: device_id, dtype: int64
2.568867e+15    45
Name: device_id, dtype: int64
6.577099e+16    426
Name: device_id, dtype: int64
4.496985e+15    379
Name: device_id, dtype: int64
1.006840e+16    132
Name: device_id, dtype: int64
1.370062e+17    105
Name: device_id, dtype: int64
3.472943e+15    92
Name: device_id, dtype: int64
1.532383e+17    4
Name: device_id, dtype: int64
5.021105e+15    111
Name: device_id, dtype: int64
7.405997e+16    125
Name: device_id, dtype: int64
1.364213e+15    121
Name: device_id, dtype: int64
1.138188e+18    9
Name: device_id, dtype: int64
1.870075e+18    3
Name: device_id, dtype: int64
3.225378e+16    49
Name: device_id, dtype: int64
2.346570e+16    16
Name: device_id, dtype: int64
1.671217e+16    110
Name: device_id, dtype: int64
7.409328e+15    160
Name: device_id, dtype: int64
4.566137e+14    75
Name: device_id, dtype: int64
2.849262e+16    87
Name: device_id, dtype: int64
5.212313e+15    66
Name: device_id, dtype: int64
1.438236e+18    144
Name: device_id, dtype: int64
1.270450e+17    9
Name: device_id, dtype: int64
3.438579e+18    16
Name: device_id, dtype: int64
3.045624e+16    144
Name: device_id, dtype: int64
7.192295e+17    75
Name: device_id, dtype: int64
7.064639e+16    89
Name: device_id, dtype: int64
3.582263e+17    6
Name: device_id, dtype: int64
1.337418e+18    276
Name: device_id, dtype: int64
1.438495e+18    74
Name: device_id, dtype: int64
3.966022e+17    19
Name: device_id, dtype: int64
3.554423e+16    38
Name: device_id, dtype: int64
3.197798e+16    14
Name: device_id, dtype: int64
3.762203e+17    9
Name: device_id, dtype: int64
1.462340e+18    64
Name: device_id, dtype: int64
6.886338e+18    69
Name: device_id, dtype: int64
2.469163e+16    47
Name: device_id, dtype: int64
6.537527e+18    6
Name: device_id, dtype: int64
7.348732e+18    16
Name: device_id, dtype: int64
2.716781e+18    15
Name: device_id, dtype: int64
1.079555e+15    10
Name: device_id, dtype: int64
1.627458e+16    388
Name: device_id, dtype: int64
1.651325e+17    54
Name: device_id, dtype: int64
1.575782e+16    58
Name: device_id, dtype: int64
2.801564e+17    23
Name: device_id, dtype: int64
7.706004e+17    6
Name: device_id, dtype: int64
1.711701e+17    27
Name: device_id, dtype: int64
2.369780e+14    13
Name: device_id, dtype: int64
1.728612e+17    9
Name: device_id, dtype: int64
2.859302e+16    11
Name: device_id, dtype: int64
4.683665e+17    155
Name: device_id, dtype: int64
1.758943e+18    5
Name: device_id, dtype: int64
5.485492e+17    25
Name: device_id, dtype: int64
2.639358e+16    18
Name: device_id, dtype: int64
7.763792e+14    50
Name: device_id, dtype: int64
3.255634e+15    21
Name: device_id, dtype: int64
7.066592e+17    62
Name: device_id, dtype: int64
3.927287e+16    63
Name: device_id, dtype: int64
6.280214e+16    24
Name: device_id, dtype: int64
5.095415e+17    69
Name: device_id, dtype: int64
1.116277e+18    224
Name: device_id, dtype: int64
1.371370e+16    40
Name: device_id, dtype: int64
3.451788e+18    7
Name: device_id, dtype: int64
4.198852e+17    10
Name: device_id, dtype: int64
8.000740e+17    5
Name: device_id, dtype: int64
5.334703e+17    215
Name: device_id, dtype: int64
3.264767e+15    102
Name: device_id, dtype: int64
5.109435e+16    72
Name: device_id, dtype: int64
1.091684e+16    25
Name: device_id, dtype: int64
2.793177e+17    16
Name: device_id, dtype: int64
4.557803e+18    60
Name: device_id, dtype: int64
1.170981e+16    54
Name: device_id, dtype: int64
3.036280e+17    64
Name: device_id, dtype: int64
7.379481e+16    15
Name: device_id, dtype: int64
2.457202e+17    27
Name: device_id, dtype: int64
4.130379e+17    181
Name: device_id, dtype: int64
2.265796e+17    54
Name: device_id, dtype: int64
4.195238e+17    61
Name: device_id, dtype: int64
2.898548e+16    6
Name: device_id, dtype: int64
5.257944e+18    14
Name: device_id, dtype: int64
8.524441e+17    61
Name: device_id, dtype: int64
2.377678e+17    55
Name: device_id, dtype: int64
2.009779e+17    97
Name: device_id, dtype: int64
8.614549e+18    79
Name: device_id, dtype: int64
1.390305e+18    26
Name: device_id, dtype: int64
4.373803e+15    14
Name: device_id, dtype: int64
1.274328e+17    285
Name: device_id, dtype: int64
8.239378e+18    6
Name: device_id, dtype: int64
1.884136e+16    98
Name: device_id, dtype: int64
4.598493e+15    56
Name: device_id, dtype: int64
5.811642e+15    62
Name: device_id, dtype: int64
4.224128e+17    7
Name: device_id, dtype: int64
2.212222e+18    28
Name: device_id, dtype: int64
6.662702e+17    52
Name: device_id, dtype: int64
2.100948e+18    29
Name: device_id, dtype: int64
3.336618e+17    48
Name: device_id, dtype: int64
5.375128e+17    15
Name: device_id, dtype: int64
2.990948e+15    30
Name: device_id, dtype: int64
5.372984e+15    32
Name: device_id, dtype: int64
7.023951e+16    38
Name: device_id, dtype: int64
4.593843e+15    9
Name: device_id, dtype: int64
9.912514e+17    123
Name: device_id, dtype: int64
1.910762e+18    56
Name: device_id, dtype: int64
7.323627e+17    22
Name: device_id, dtype: int64
1.914239e+16    84
Name: device_id, dtype: int64
2.027074e+17    39
Name: device_id, dtype: int64
8.959087e+16    12
Name: device_id, dtype: int64
5.451949e+18    46
Name: device_id, dtype: int64
9.086138e+18    94
Name: device_id, dtype: int64
2.309179e+15    36
Name: device_id, dtype: int64
3.084766e+16    4
Name: device_id, dtype: int64
7.636862e+16    151
Name: device_id, dtype: int64
1.112782e+18    6
Name: device_id, dtype: int64
1.362822e+17    30
Name: device_id, dtype: int64
7.001567e+17    14
Name: device_id, dtype: int64
8.492297e+15    29
Name: device_id, dtype: int64
1.875747e+18    13
Name: device_id, dtype: int64
2.648810e+16    61
Name: device_id, dtype: int64
2.891492e+18    6
Name: device_id, dtype: int64
2.385669e+15    52
Name: device_id, dtype: int64
2.111248e+18    10
Name: device_id, dtype: int64
2.172641e+18    64
Name: device_id, dtype: int64
4.871455e+15    36
Name: device_id, dtype: int64
1.503452e+17    13
Name: device_id, dtype: int64
3.477964e+16    27
Name: device_id, dtype: int64
6.552729e+15    45
Name: device_id, dtype: int64
6.913729e+16    14
Name: device_id, dtype: int64
6.822847e+18    72
Name: device_id, dtype: int64
3.722944e+17    44
Name: device_id, dtype: int64
2.267532e+15    59
Name: device_id, dtype: int64
3.492612e+17    17
Name: device_id, dtype: int64
7.156434e+17    8
Name: device_id, dtype: int64
6.737477e+16    5
Name: device_id, dtype: int64
5.960578e+18    32
Name: device_id, dtype: int64
1.053874e+17    6
Name: device_id, dtype: int64
4.924522e+16    31
Name: device_id, dtype: int64
1.960593e+18    6
Name: device_id, dtype: int64
1.533511e+16    50
Name: device_id, dtype: int64
1.507450e+16    35
Name: device_id, dtype: int64
2.532042e+17    34
Name: device_id, dtype: int64
3.003842e+18    34
Name: device_id, dtype: int64
4.305059e+18    35
Name: device_id, dtype: int64
6.557232e+17    73
Name: device_id, dtype: int64
1.092121e+16    18
Name: device_id, dtype: int64
2.250424e+16    32
Name: device_id, dtype: int64
5.766767e+15    40
Name: device_id, dtype: int64
4.409370e+17    43
Name: device_id, dtype: int64
9.869566e+15    1
Name: device_id, dtype: int64
1.985908e+17    35
Name: device_id, dtype: int64
5.110929e+18    13
Name: device_id, dtype: int64
4.116083e+16    15
Name: device_id, dtype: int64
6.755245e+15    27
Name: device_id, dtype: int64
5.600365e+18    27
Name: device_id, dtype: int64
2.079342e+17    12
Name: device_id, dtype: int64
4.407747e+15    75
Name: device_id, dtype: int64
5.125966e+18    43
Name: device_id, dtype: int64
2.775039e+18    22
Name: device_id, dtype: int64
1.306117e+16    6
Name: device_id, dtype: int64
5.018572e+16    8
Name: device_id, dtype: int64
1.324451e+17    3
Name: device_id, dtype: int64
2.954377e+17    8
Name: device_id, dtype: int64
4.399401e+17    14
Name: device_id, dtype: int64
2.823296e+17    5
Name: device_id, dtype: int64
2.277903e+18    18
Name: device_id, dtype: int64
7.033352e+15    5
Name: device_id, dtype: int64
4.789235e+17    34
Name: device_id, dtype: int64
2.342377e+16    1
Name: device_id, dtype: int64
3.863012e+16    23
Name: device_id, dtype: int64
1.447736e+18    60
Name: device_id, dtype: int64
8.154024e+16    50
Name: device_id, dtype: int64
3.305280e+17    11
Name: device_id, dtype: int64
1.815092e+16    19
Name: device_id, dtype: int64
2.085897e+18    24
Name: device_id, dtype: int64
4.654458e+16    12
Name: device_id, dtype: int64
4.435491e+18    36
Name: device_id, dtype: int64
3.009302e+17    50
Name: device_id, dtype: int64
3.333039e+16    13
Name: device_id, dtype: int64
1.183841e+18    29
Name: device_id, dtype: int64
1.156523e+17    8
Name: device_id, dtype: int64
1.188815e+17    16
Name: device_id, dtype: int64
5.572257e+15    10
Name: device_id, dtype: int64
4.690496e+18    21
Name: device_id, dtype: int64
4.726323e+18    32
Name: device_id, dtype: int64
6.262109e+18    11
Name: device_id, dtype: int64
3.194987e+17    10
Name: device_id, dtype: int64
1.920604e+16    16
Name: device_id, dtype: int64
2.953448e+18    33
Name: device_id, dtype: int64
4.608838e+18    9
Name: device_id, dtype: int64
1.968111e+18    1
Name: device_id, dtype: int64
3.425119e+16    39
Name: device_id, dtype: int64
1.531639e+18    11
Name: device_id, dtype: int64
2.208123e+16    15
Name: device_id, dtype: int64
8.082311e+18    13
Name: device_id, dtype: int64
4.381972e+15    16
Name: device_id, dtype: int64
3.174154e+16    3
Name: device_id, dtype: int64
1.992418e+17    55
Name: device_id, dtype: int64
2.909557e+14    6
Name: device_id, dtype: int64
6.987683e+18    15
Name: device_id, dtype: int64
4.889920e+15    20
Name: device_id, dtype: int64
1.329378e+18    14
Name: device_id, dtype: int64
6.224458e+16    14
Name: device_id, dtype: int64
2.617477e+16    15
Name: device_id, dtype: int64
8.358875e+15    31
Name: device_id, dtype: int64
5.947116e+17    14
Name: device_id, dtype: int64
8.370969e+18    11
Name: device_id, dtype: int64
2.409663e+16    5
Name: device_id, dtype: int64
4.431161e+15    13
Name: device_id, dtype: int64
3.566102e+16    34
Name: device_id, dtype: int64
1.369131e+16    7
Name: device_id, dtype: int64
1.268112e+17    1
Name: device_id, dtype: int64
3.436685e+18    17
Name: device_id, dtype: int64
1.182612e+18    9
Name: device_id, dtype: int64
1.801687e+17    4
Name: device_id, dtype: int64
3.543553e+17    18
Name: device_id, dtype: int64
2.263742e+18    6
Name: device_id, dtype: int64
5.779286e+15    8
Name: device_id, dtype: int64
2.285022e+17    4
Name: device_id, dtype: int64
2.269702e+18    14
Name: device_id, dtype: int64
6.726239e+16    40
Name: device_id, dtype: int64
2.227410e+17    11
Name: device_id, dtype: int64
1.685004e+15    8
Name: device_id, dtype: int64
9.686621e+17    15
Name: device_id, dtype: int64
1.896915e+16    14
Name: device_id, dtype: int64
2.948760e+16    4
Name: device_id, dtype: int64
3.958031e+18    6
Name: device_id, dtype: int64
1.288173e+17    22
Name: device_id, dtype: int64
3.375446e+16    23
Name: device_id, dtype: int64
3.950346e+15    17
Name: device_id, dtype: int64
1.789412e+16    25
Name: device_id, dtype: int64
2.255436e+17    12
Name: device_id, dtype: int64
2.224372e+16    7
Name: device_id, dtype: int64
2.600708e+18    5
Name: device_id, dtype: int64
7.121472e+15    17
Name: device_id, dtype: int64
3.366457e+18    24
Name: device_id, dtype: int64
6.585191e+18    15
Name: device_id, dtype: int64
7.392017e+14    1
Name: device_id, dtype: int64
2.486377e+18    4
Name: device_id, dtype: int64
7.528201e+16    19
Name: device_id, dtype: int64
5.252554e+17    7
Name: device_id, dtype: int64
1.032849e+17    11
Name: device_id, dtype: int64
1.778705e+16    22
Name: device_id, dtype: int64
3.334941e+17    6
Name: device_id, dtype: int64
4.647981e+18    14
Name: device_id, dtype: int64
4.357165e+16    2
Name: device_id, dtype: int64
2.298074e+16    3
Name: device_id, dtype: int64
2.193571e+15    9
Name: device_id, dtype: int64
5.679990e+17    6
Name: device_id, dtype: int64
8.654507e+16    4
Name: device_id, dtype: int64
1.222152e+16    4
Name: device_id, dtype: int64
1.647972e+16    3
Name: device_id, dtype: int64
7.767457e+15    7
Name: device_id, dtype: int64
3.412456e+16    5
Name: device_id, dtype: int64
1.631149e+18    2
Name: device_id, dtype: int64
1.255443e+16    9
Name: device_id, dtype: int64
4.823125e+17    21
Name: device_id, dtype: int64
6.355276e+17    1
Name: device_id, dtype: int64
1.602022e+16    7
Name: device_id, dtype: int64
6.394458e+15    6
Name: device_id, dtype: int64
1.226564e+14    2
Name: device_id, dtype: int64
1.374596e+16    7
Name: device_id, dtype: int64
7.420801e+18    16
Name: device_id, dtype: int64
2.482285e+17    9
Name: device_id, dtype: int64
4.757711e+16    5
Name: device_id, dtype: int64
4.319629e+15    7
Name: device_id, dtype: int64
9.409945e+15    1
Name: device_id, dtype: int64
3.235091e+18    8
Name: device_id, dtype: int64
5.277700e+17    24
Name: device_id, dtype: int64
2.322683e+15    5
Name: device_id, dtype: int64
1.145956e+16    1
Name: device_id, dtype: int64
1.411720e+18    15
Name: device_id, dtype: int64
5.060797e+16    1
Name: device_id, dtype: int64
2.395598e+15    3
Name: device_id, dtype: int64
5.038819e+18    2
Name: device_id, dtype: int64
6.289140e+18    1
Name: device_id, dtype: int64
8.553256e+17    7
Name: device_id, dtype: int64
3.121189e+17    3
Name: device_id, dtype: int64
5.247738e+18    9
Name: device_id, dtype: int64
3.667156e+17    2
Name: device_id, dtype: int64
7.165539e+16    7
Name: device_id, dtype: int64
6.295918e+15    7
Name: device_id, dtype: int64
8.397325e+15    9
Name: device_id, dtype: int64
1.808278e+16    5
Name: device_id, dtype: int64
4.380364e+16    3
Name: device_id, dtype: int64
6.553937e+16    22
Name: device_id, dtype: int64
6.482471e+15    2
Name: device_id, dtype: int64
1.295384e+17    8
Name: device_id, dtype: int64
3.917548e+18    1
Name: device_id, dtype: int64
2.976732e+16    3
Name: device_id, dtype: int64
1.697087e+18    5
Name: device_id, dtype: int64
2.226134e+16    1
Name: device_id, dtype: int64
2.399871e+17    5
Name: device_id, dtype: int64
1.605415e+16    5
Name: device_id, dtype: int64
4.001525e+17    4
Name: device_id, dtype: int64
4.023704e+16    2
Name: device_id, dtype: int64
5.455788e+16    3
Name: device_id, dtype: int64
1.686988e+17    3
Name: device_id, dtype: int64
1.715452e+16    1
Name: device_id, dtype: int64
4.493514e+15    2
Name: device_id, dtype: int64
3.159798e+17    3
Name: device_id, dtype: int64
5.406685e+17    4
Name: device_id, dtype: int64
4.348770e+18    6
Name: device_id, dtype: int64
4.612666e+17    2
Name: device_id, dtype: int64
7.108244e+17    7
Name: device_id, dtype: int64
6.104687e+16    2
Name: device_id, dtype: int64
2.799772e+17    1
Name: device_id, dtype: int64
2.996352e+18    2
Name: device_id, dtype: int64
1.029625e+18    1
Name: device_id, dtype: int64
3.462087e+15    2
Name: device_id, dtype: int64
1.512378e+18    1
Name: device_id, dtype: int64
5.048736e+15    3
Name: device_id, dtype: int64
1.130552e+18    3
Name: device_id, dtype: int64
5.333572e+16    3
Name: device_id, dtype: int64
3.646855e+17    1
Name: device_id, dtype: int64
4.512513e+18    2
Name: device_id, dtype: int64
1.548296e+16    2
Name: device_id, dtype: int64
1.681567e+16    4
Name: device_id, dtype: int64
7.584484e+18    3
Name: device_id, dtype: int64
6.235308e+18    2
Name: device_id, dtype: int64
3.430755e+16    1
Name: device_id, dtype: int64
1.458709e+17    4
Name: device_id, dtype: int64
2.137457e+16    2
Name: device_id, dtype: int64
4.307273e+16    2
Name: device_id, dtype: int64
4.791325e+17    1
Name: device_id, dtype: int64
1.638313e+18    1
Name: device_id, dtype: int64
1.956078e+16    4
Name: device_id, dtype: int64
5.682645e+15    2
Name: device_id, dtype: int64
6.516157e+15    3
Name: device_id, dtype: int64
2.056028e+17    1
Name: device_id, dtype: int64
4.049008e+17    2
Name: device_id, dtype: int64
1.093848e+18    1
Name: device_id, dtype: int64
3.309885e+17    2
Name: device_id, dtype: int64
5.465741e+15    2
Name: device_id, dtype: int64
1.547350e+16    2
Name: device_id, dtype: int64
4.458699e+17    3
Name: device_id, dtype: int64
1.357107e+16    6
Name: device_id, dtype: int64
1.213982e+16    2
Name: device_id, dtype: int64
4.932204e+16    1
Name: device_id, dtype: int64
1.616761e+18    2
Name: device_id, dtype: int64
1.528614e+16    4
Name: device_id, dtype: int64
3.398229e+16    2
Name: device_id, dtype: int64
8.799382e+17    2
Name: device_id, dtype: int64
2.056793e+17    2
Name: device_id, dtype: int64
1.038550e+17    2
Name: device_id, dtype: int64
5.162240e+17    1
Name: device_id, dtype: int64
1.331472e+16    1
Name: device_id, dtype: int64
2.404350e+17    2
Name: device_id, dtype: int64
2.581588e+17    1
Name: device_id, dtype: int64
5.036611e+13    1
Name: device_id, dtype: int64
1.025285e+18    1
Name: device_id, dtype: int64
2.336603e+16    1
Name: device_id, dtype: int64
7.276345e+15    1
Name: device_id, dtype: int64
5.939461e+16    2
Name: device_id, dtype: int64
2.175452e+17    2
Name: device_id, dtype: int64
9.880976e+15    1
Name: device_id, dtype: int64
2.599872e+16    1
Name: device_id, dtype: int64
9.098245e+16    1
Name: device_id, dtype: int64
1.025467e+18    1
Name: device_id, dtype: int64
7.065654e+16    1
Name: device_id, dtype: int64
3.299619e+17    1
Name: device_id, dtype: int64
2.288468e+17    3
Name: device_id, dtype: int64
2.734689e+18    1
Name: device_id, dtype: int64
1.844596e+17    1
Name: device_id, dtype: int64
4.184872e+18    1
Name: device_id, dtype: int64
3.711362e+18    1
Name: device_id, dtype: int64
3.501847e+18    1
Name: device_id, dtype: int64

In [44]:
sum

array([16982])

In [51]:
test_merge_1 = df.merge(df2, how = "inner", on = "device_id")
test_merge_2 = df.merge(df3, how = "inner", on = "device_id")

In [52]:
test_merge_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16982 entries, 0 to 16981
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   event_id      16982 non-null  int64
 1   device_id     16982 non-null  float64
 2   timestamp     16982 non-null  object
 3   longitude     16982 non-null  float64
 4   latitude      16982 non-null  float64
 5   city          16982 non-null  object
 6   state         16982 non-null  object
 7   phone_brand   16982 non-null  object
 8   device_model  16982 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 1.3+ MB

In [53]:
test_merge_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16982 entries, 0 to 16981
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   event_id   16982 non-null  int64
 1   device_id  16982 non-null  float64
 2   timestamp  16982 non-null  object
 3   longitude  16982 non-null  float64
 4   latitude   16982 non-null  float64
 5   city       16982 non-null  object
 6   state      16982 non-null  object
 7   gender     16982 non-null  object
 8   age        16982 non-null  int64
 9   group      16982 non-null  object
dtypes: float64(3), int64(2), object(5)
memory usage: 1.4+ MB

In [54]:
test_merge_3 = test_merge_1.merge(test_merge_2[['device_id','phone_brand', 'device_model']], how = "left", on = "device_id")

In [55]:
test_merge_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3640706 entries, 0 to 3640705
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   event_id      int64
 1   device_id     float64
 2   timestamp     object
 3   longitude     float64
 4   latitude      float64
 5   city          object
 6   state         object
 7   gender        object
 8   age           int64
 9   group         object
 10  phone_brand   object
 11  device_model  object
dtypes: float64(3), int64(2), object(7)
memory usage: 361.1+ MB

In [56]:
test_merge_3.nunique()

event_id        16982
device_id         406
timestamp       16553
longitude         406
latitude          406
city              197
state              26
gender              2
age                51
group              12
phone_brand        26
device_model      191
dtype: int64

In [57]:
test_merge_3.shape

(3640706, 12)

In [58]:
test_merge_3.isna().sum()

event_id        0
device_id       0
timestamp       0
longitude       0
latitude        0
city            0
state           0
gender          0
age             0
group           0
phone_brand     0
device_model    0
dtype: int64

In [59]:
duplicated_df = test_merge_3.duplicated()

In [60]:
duplicated_df.value_counts()

True     3623724
False      16982
dtype: int64

In [61]:
test_merge_3.drop_duplicates(inplace=True)

In [62]:
test_merge_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16982 entries, 0 to 3640705
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   event_id      16982 non-null  int64
 1   device_id     16982 non-null  float64
 2   timestamp     16982 non-null  object
 3   longitude     16982 non-null  float64
 4   latitude      16982 non-null  float64
 5   city          16982 non-null  object
 6   state         16982 non-null  object
 7   gender        16982 non-null  object
 8   age           16982 non-null  int64
 9   group         16982 non-null  object
 10  phone_brand   16982 non-null  object
 11  device_model  16982 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 1.7+ MB

In [63]:
test_merge_3.nunique()

event_id        16982
device_id         406
timestamp       16553
longitude         406
latitude          406
city              197
state              26
gender              2
age                51
group              12
phone_brand        26
device_model      191
dtype: int64

In [64]:
import calendar

test_merge_3['timestamp'] = pd.to_datetime(test_merge_3['timestamp'])
test_merge_3['year'] = pd.DatetimeIndex(test_merge_3['timestamp']).year
test_merge_3['month'] = pd.DatetimeIndex(test_merge_3['timestamp']).month

test_merge_3['month_name'] = test_merge_3['month'].apply(lambda x: calendar.month_abbr[x])
test_merge_3['day_of_week'] = test_merge_3['timestamp'].dt.day_name()
test_merge_3['hour'] = test_merge_3['timestamp'].dt.hour

In [65]:
dict = {'华为':'Huawei',
'小米':'Xiaomi',
'三星':'Samsung',
'vivo':'vivo',
'OPPO': 'OPPO',
'魅族': 'Meizu',
'酷派': 'Coolpad',
'乐视':'LeEco',
'联想 ': 'Lenovo',
'HTC': 'HTC'}

In [66]:
test_merge_3.replace({'phone_brand':dict},inplace=True)

In [67]:
test_merge_3.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,gender,age,group,phone_brand,device_model,year,month,month_name,day_of_week,hour
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.73014,Delhi,Delhi,M,35,M32-38,优米,UIMI3,2016,5,May,Saturday,22
194,1355198,2.973348e+18,2016-05-01 01:35:45,77.225676,28.73014,Delhi,Delhi,M,35,M32-38,优米,UIMI3,2016,5,May,Sunday,1
388,1630972,2.973348e+18,2016-05-03 00:07:34,77.225676,28.73014,Delhi,Delhi,M,35,M32-38,优米,UIMI3,2016,5,May,Tuesday,0
582,2732453,2.973348e+18,2016-05-01 06:15:59,77.225676,28.73014,Delhi,Delhi,M,35,M32-38,优米,UIMI3,2016,5,May,Sunday,6
776,1562542,2.973348e+18,2016-05-01 20:34:19,77.225676,28.73014,Delhi,Delhi,M,35,M32-38,优米,UIMI3,2016,5,May,Sunday,20

In [68]:
test_merge_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16982 entries, 0 to 3640705
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   event_id      16982 non-null  int64
 1   device_id     16982 non-null  float64
 2   timestamp     16982 non-null  datetime64[ns]
 3   longitude     16982 non-null  float64
 4   latitude      16982 non-null  float64
 5   city          16982 non-null  object
 6   state         16982 non-null  object
 7   gender        16982 non-null  object
 8   age           16982 non-null  int64
 9   group         16982 non-null  object
 10  phone_brand   16982 non-null  object
 11  device_model  16982 non-null  object
 12  year          16982 non-null  int64
 13  month         16982 non-null  int64
 14  month_name    16982 non-null  object
 15  day_of_week   16982 non-null  object
 16  hour          16982 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(8)
memory usage: 2.3+ MB

In [69]:
test_merge_3.nunique()

event_id        16982
device_id         406
timestamp       16553
longitude         406
latitude          406
city              197
state              26
gender              2
age                51
group              12
phone_brand        26
device_model      191
year                1
month               2
month_name          2
day_of_week         7
hour               24
dtype: int64

## Geospatial Analysis

In [70]:
!pip install folium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.12.1.post1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.21.6)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.5.0)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2022.6.15)

In [72]:
import folium

In [73]:
m = folium.Map(location=[28.644800,77.216721])

In [74]:
m

In [79]:
locations_list = test_merge_3[['latitude','longitude']].value_counts().index

In [85]:
locations = locations_list.tolist()

In [90]:
len(locations)

406

In [88]:
mapit = None
# latlon = [ (51.249443914705175, -0.13878830247011467), (51.249443914705175, -0.13878830247011467), (51.249768239976866, -2.8610415615063034)]
mapit = folium.Map( location=[52.667989, -1.464582], zoom_start=6 )
for coord in locations:
    # mapit = folium.Map( location=[ coord[0], coord[1] ] )
    folium.Marker( location=[ coord[0], coord[1] ], fill_color='#43d9de', radius=8 ).add_to( mapit )

mapit

In [91]:
test_merge_3.describe()

,event_id,device_id,longitude,latitude,age,year,month,hour
count,1.698200e+04,1.698200e+04,16982.000000,16982.000000,16982.000000,16982.0,16982.000000,16982.000000
mean,1.629002e+06,9.336248e+17,77.586701,21.232838,32.433518,2016.0,4.999941,13.534272
std,9.368065e+05,1.995877e+18,4.364865,5.495319,9.155786,0.0,0.007674,6.242954
min,2.880000e+02,5.036611e+13,69.677548,8.883912,10.000000,2016.0,4.000000,0.000000
25%,8.204910e+05,1.627458e+16,75.819181,18.506788,26.000000,2016.0,5.000000,9.000000
50%,1.627304e+06,7.405997e+16,77.078352,22.608837,30.000000,2016.0,5.000000,14.000000
75%,2.447712e+06,8.524441e+17,80.143569,26.567374,36.000000,2016.0,5.000000,19.000000
max,3.252680e+06,9.086138e+18,94.190182,33.749656,79.000000,2016.0,5.000000,23.000000

In [96]:
list_states = test_merge_3['state'].unique().tolist()

In [101]:
for i in list_states:
 print(i,test_merge_3[test_merge_3['state']==i][['latitude','longitude']].max(),test_merge_3[test_merge_3['state']==i][['latitude','longitude']].min())

Delhi latitude     28.756544
longitude    77.307486
dtype: float64 latitude     28.685333
longitude    77.220866
dtype: float64
Nagaland latitude     25.946122
longitude    94.190182
dtype: float64 latitude     25.728123
longitude    93.824987
dtype: float64
Gujarat latitude     23.969764
longitude    73.139842
dtype: float64 latitude     20.460355
longitude    69.677548
dtype: float64
TamilNadu latitude     13.176833
longitude    80.367855
dtype: float64 latitude      8.883912
longitude    76.997629
dtype: float64
MadhyaPradesh latitude     26.666756
longitude    78.792945
dtype: float64 latitude     21.905980
longitude    74.963796
dtype: float64
Bihar latitude     27.177623
longitude    88.007430
dtype: float64 latitude     24.891077
longitude    84.187234
dtype: float64
AndhraPradesh latitude     19.741445
longitude    83.379038
dtype: float64 latitude     13.255346
longitude    76.934556
dtype: float64
Karnataka latitude     15.299991
longitude    77.671979
dtype: float64 latitude     12.851041
longitude    74.892043
dtype: float64
WestBengal latitude     26.758840
longitude    88.675469
dtype: float64 latitude     21.828305
longitude    86.399678
dtype: float64
Rajasthan latitude     29.997099
longitude    76.531216
dtype: float64 latitude     24.687205
longitude    73.382513
dtype: float64
Tripura latitude     23.877173
longitude    91.288950
dtype: float64 latitude     23.877173
longitude    91.288950
dtype: float64
Haryana latitude     30.713434
longitude    77.376726
dtype: float64 latitude     28.243589
longitude    74.814694
dtype: float64
Maharashtra latitude     21.118441
longitude    80.058825
dtype: float64 latitude     16.727519
longitude    72.762445
dtype: float64
UttarPradesh latitude     29.372506
longitude    84.170290
dtype: float64 latitude     25.414019
longitude    77.489192
dtype: float64
Telangana latitude     17.497130
longitude    78.577074
dtype: float64 latitude     17.416697
longitude    78.490838
dtype: float64
ArunachalPradesh latitude     27.220364
longitude    93.693305
dtype: float64 latitude     27.220364
longitude    93.693305
dtype: float64
Punjab latitude     31.715439
longitude    75.994729
dtype: float64 latitude     30.273474
longitude    74.519307
dtype: float64
Kerala latitude     11.300097
longitude    76.220306
dtype: float64 latitude     10.561827
longitude    75.841352
dtype: float64
Jharkhand latitude     24.538882
longitude    86.754986
dtype: float64 latitude     23.704229
longitude    85.411033
dtype: float64
JammuandKashmir latitude     33.749656
longitude    75.619342
dtype: float64 latitude     32.421466
longitude    75.188573
dtype: float64
Pondicherry latitude     10.949680
longitude    79.909801
dtype: float64 latitude     10.949680
longitude    79.909801
dtype: float64
Chhattisgarh latitude     23.224663
longitude    83.450629
dtype: float64 latitude     21.226964
longitude    81.414423
dtype: float64
Orissa latitude     22.019532
longitude    86.786052
dtype: float64 latitude     18.889229
longitude    82.613618
dtype: float64
Assam latitude     25.897486
longitude    93.514008
dtype: float64 latitude     25.885334
longitude    93.459795
dtype: float64
Goa latitude     15.548266
longitude    73.866551
dtype: float64 latitude     15.548266
longitude    73.866551
dtype: float64
Chandigarh latitude     30.786873
longitude    76.797161
dtype: float64 latitude     30.786873
longitude    76.797161
dtype: float64

In [102]:
print(i,test_merge_3[test_merge_3['state']=='Delhi'][['latitude','longitude']].max(),test_merge_3[test_merge_3['state']==i][['latitude','longitude']].min())

Chandigarh latitude     28.756544
longitude    77.307486
dtype: float64 latitude     30.786873
longitude    76.797161
dtype: float64