<a href="https://colab.research.google.com/github/ShubhamCJagtap/Capstone_Project_1_EDA/blob/master/Delhi_dataset_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
#import mysql.connector as connection # install !pip install mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth',None)
pd.set_option('mode.chained_assignment',None)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df1 = pd.read_csv('/content/drive/MyDrive/Capstone 1 Insaid/Database/events_data.csv')

In [4]:
df2 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/gender_age.csv')

In [5]:
df3 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/phone_brand_device_model.csv')

In [6]:
df1.columns

Index(['event_id', 'device_id', 'timestamp', 'longitude', 'latitude', 'city',
       'state'],
      dtype='object')

In [7]:
cities = (df1[df1['state']=='Delhi']['city'].unique()).tolist()

In [8]:
cities

['Delhi',
 'SultanpurMajra',
 'Deoli',
 'NiDilli',
 'RoshanPura',
 'BhalswaJahangirpur',
 'Gokalpur',
 'Tigri',
 'DilliCantonment',
 'NangloiJat']

In [9]:
len(cities)

10

In [10]:
df_cities = df1[(df1['city']==cities[0])|
    (df1['city']==cities[1])|
    (df1['city']==cities[2])|
    (df1['city']==cities[3])|
    (df1['city']==cities[4])|
    (df1['city']==cities[5])|
    (df1['city']==cities[6])|
    (df1['city']==cities[7])|
    (df1['city']==cities[8])|
    (df1['city']==cities[9])]

In [11]:
df_cities['city'].unique(),df_cities['state'].unique()

(array(['Delhi', 'SultanpurMajra', 'Deoli', 'NiDilli', 'RoshanPura',
        'BhalswaJahangirpur', 'Gokalpur', 'Tigri', 'DilliCantonment',
        'NangloiJat'], dtype=object), array(['Delhi', nan], dtype=object))

In [12]:
df_cities.isna().sum()

event_id      0
device_id    69
timestamp     0
longitude    63
latitude     63
city          0
state        64
dtype: int64

In [14]:
df_cities[df_cities['state'].isna()].head()

,event_id,device_id,timestamp,longitude,latitude,city,state
58711,1586328,-6.242501e+18,2016-05-02 18:25:36,77.293991,28.74982,Delhi,NaN
146029,191851,-6.242501e+18,2016-05-02 05:50:53,77.293991,28.74982,Delhi,NaN
154676,1813991,-8.340098e+18,2016-05-06 22:03:19,77.305988,28.68898,Delhi,NaN
206994,1804080,-8.340098e+18,2016-05-02 15:35:20,77.305988,28.68898,Delhi,NaN
219532,341684,-6.242501e+18,2016-05-02 08:37:46,77.293991,28.74982,Delhi,NaN

In [15]:
df_cities['state'].fillna('Delhi',inplace=True)

In [23]:
df_cities.isna().sum(),df_cities.nunique()

(event_id      0
 device_id    69
 timestamp     0
 longitude    63
 latitude     63
 city          0
 state         0
 dtype: int64, event_id     751797
 device_id      4909
 timestamp    412099
 longitude      4795
 latitude       4789
 city             10
 state             1
 dtype: int64)

In [ ]:
df_cities.to_csv('Dataset_for_delhi.csv')

In [18]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())].head()

,event_id,device_id,timestamp,longitude,latitude,city,state
8015,2929521,1.779631e+18,2016-05-05 01:15:22,NaN,NaN,Delhi,Delhi
35009,1039863,5.375599e+18,2016-05-01 14:40:31,NaN,NaN,Delhi,Delhi
91559,2527074,5.375599e+18,2016-05-07 17:51:23,NaN,NaN,Delhi,Delhi
102308,2922517,1.779631e+18,2016-05-01 21:50:03,NaN,NaN,Delhi,Delhi
119754,2869070,4.782582e+18,2016-05-01 02:35:12,NaN,NaN,Delhi,Delhi

In [19]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())].shape

(63, 7)

In [20]:
(df_cities[(df_cities['longitude'].isna())|(df_cities['latitude'].isna())]==df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())]).shape

(63, 7)

In [21]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())&(df_cities['device_id'].isna())].shape

(0, 7)

In [25]:
device_id_lat_lon_missing = df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())]['device_id'].unique()

In [45]:
device_id_lat_lon_missing

array([1.77963102e+18, 5.37559902e+18, 4.78258205e+18])

In [33]:
lst_id_lat_lon = []
for i in device_id_lat_lon_missing:
  a = df_cities[(df_cities['longitude'].isna()==False)&(df_cities['latitude'].isna()==False)&(df_cities['device_id']==i)][['device_id','longitude','latitude']].value_counts()
  lst_id_lat_lon.append(a.index.values)

In [56]:
id = []
lat = []
lon = []
for j in lst_id_lat_lon:
  id.append(j[0][0])
  lat.append(j[0][1])
  lon.append(j[0][2])

In [57]:
id,lat,lon

([1.7796310234394053e+18, 5.375599021847303e+18, 4.782582047729166e+18],
 [77.235416, 77.283447, 77.22522],
 [28.738901, 28.718392, 28.718379])