<a href="https://colab.research.google.com/github/ShubhamCJagtap/Capstone_Project_1_EDA/blob/master/Delhi_dataset_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
#import mysql.connector as connection # install !pip install mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth',None)
pd.set_option('mode.chained_assignment',None)

In [3]:
df1 = pd.read_csv('/content/drive/MyDrive/Capstone 1 Insaid/Database/events_data.csv')

In [4]:
df2 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/gender_age.csv')

In [5]:
df3 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/phone_brand_device_model.csv')

In [10]:
df1.columns

Index(['event_id', 'device_id', 'timestamp', 'longitude', 'latitude', 'city',
       'state'],
      dtype='object')

In [13]:
cities = (df1[df1['state']=='Delhi']['city'].unique()).tolist()

In [14]:
cities

['Delhi',
 'SultanpurMajra',
 'Deoli',
 'NiDilli',
 'RoshanPura',
 'BhalswaJahangirpur',
 'Gokalpur',
 'Tigri',
 'DilliCantonment',
 'NangloiJat']

In [15]:
len(cities)

10

In [18]:
df_cities = df1[(df1['city']==cities[0])|
    (df1['city']==cities[1])|
    (df1['city']==cities[2])|
    (df1['city']==cities[3])|
    (df1['city']==cities[4])|
    (df1['city']==cities[5])|
    (df1['city']==cities[6])|
    (df1['city']==cities[7])|
    (df1['city']==cities[8])|
    (df1['city']==cities[9])]

In [17]:
df1[df1['city'] in cities]

TypeError: ignored

In [23]:
df_cities['city'].unique(),df_cities['state'].unique()

(array(['Delhi', 'SultanpurMajra', 'Deoli', 'NiDilli', 'RoshanPura',
        'BhalswaJahangirpur', 'Gokalpur', 'Tigri', 'DilliCantonment',
        'NangloiJat'], dtype=object), array(['Delhi', nan], dtype=object))

In [24]:
df_cities.isna().sum()

event_id      0
device_id    69
timestamp     0
longitude    63
latitude     63
city          0
state        64
dtype: int64

In [26]:
df_cities[df_cities['state'].isna()]

,event_id,device_id,timestamp,longitude,latitude,city,state
58711,1586328,-6.242501e+18,2016-05-02 18:25:36,77.293991,28.749820,Delhi,NaN
146029,191851,-6.242501e+18,2016-05-02 05:50:53,77.293991,28.749820,Delhi,NaN
154676,1813991,-8.340098e+18,2016-05-06 22:03:19,77.305988,28.688980,Delhi,NaN
206994,1804080,-8.340098e+18,2016-05-02 15:35:20,77.305988,28.688980,Delhi,NaN
219532,341684,-6.242501e+18,2016-05-02 08:37:46,77.293991,28.749820,Delhi,NaN
235808,2620044,-8.340098e+18,2016-05-04 17:46:47,77.305988,28.688980,Delhi,NaN
235855,906444,-8.340098e+18,2016-05-02 17:33:31,77.305988,28.688980,Delhi,NaN
239140,1937248,-3.746249e+18,2016-05-05 15:46:12,77.264729,28.756094,Delhi,NaN
352345,1344292,-3.746249e+18,2016-05-05 17:54:07,77.264729,28.756094,Delhi,NaN
355420,2010015,-3.746249e+18,2016-05-05 22:13:17,77.264729,28.756094,Delhi,NaN
439850,983707,-6.242501e+18,2016-05-03 10:25:17,77.293991,28.749820,Delhi,NaN
493922,3112478,-8.340098e+18,2016-05-04 10:28:19,77.305988,28.688980,Delhi,NaN
541227,227479,-3.746249e+18,2016-05-05 14:54:50,77.264729,28.756094,Delhi,NaN
592266,1009753,-3.746249e+18,2016-05-05 10:23:05,77.264729,28.756094,Delhi,NaN
606584,1829155,-3.746249e+18,2016-05-04 14:06:25,77.264729,28.756094,Delhi,NaN
619689,188258,-3.746249e+18,2016-05-03 21:30:46,77.264729,28.756094,Delhi,NaN
702773,634818,-3.746249e+18,2016-05-05 14:19:07,77.264729,28.756094,Delhi,NaN
858410,291909,-3.746249e+18,2016-05-07 23:09:41,77.264729,28.756094,Delhi,NaN
943624,3185465,-3.746249e+18,2016-05-04 14:44:53,77.264729,28.756094,Delhi,NaN
986622,937864,-8.340098e+18,2016-05-05 20:13:49,77.305988,28.688980,Delhi,NaN
996561,1963013,-8.340098e+18,2016-05-04 09:12:44,77.305988,28.688980,Delhi,NaN
1038619,720866,-6.242501e+18,2016-05-02 20:55:28,77.293991,28.749820,Delhi,NaN
1038757,3041827,-3.746249e+18,2016-05-07 00:33:08,77.264729,28.756094,Delhi,NaN
1067109,2305375,-6.242501e+18,2016-05-02 05:14:54,77.293991,28.749820,Delhi,NaN
1092082,435672,-3.746249e+18,2016-05-07 08:29:53,77.264729,28.756094,Delhi,NaN
1145099,1411665,-8.340098e+18,2016-05-06 21:47:01,77.305988,28.688980,Delhi,NaN
1202735,2198512,-3.746249e+18,2016-05-04 23:03:43,77.264729,28.756094,Delhi,NaN
1211068,3171282,-8.340098e+18,2016-05-06 22:29:29,77.305988,28.688980,Delhi,NaN
1285085,1492541,-3.746249e+18,2016-05-06 01:03:26,77.264729,28.756094,Delhi,NaN
1305447,2445939,-6.242501e+18,2016-05-02 08:16:21,77.293991,28.749820,Delhi,NaN
1323806,458919,-3.746249e+18,2016-05-07 19:08:28,77.264729,28.756094,Delhi,NaN
1324079,2971151,-6.242501e+18,2016-05-03 11:25:12,77.293991,28.749820,Delhi,NaN
1530903,646247,-8.340098e+18,2016-05-04 21:11:32,77.305988,28.688980,Delhi,NaN
1623955,2213494,-8.340098e+18,2016-05-03 15:14:07,77.305988,28.688980,Delhi,NaN
1634285,2946789,-8.340098e+18,2016-05-02 15:40:50,77.305988,28.688980,Delhi,NaN
1671620,1813989,-8.340098e+18,2016-05-06 22:08:19,77.305988,28.688980,Delhi,NaN
1702080,142336,-3.746249e+18,2016-05-06 10:35:21,77.264729,28.756094,Delhi,NaN
1773077,1137908,-3.746249e+18,2016-05-04 06:59:26,77.264729,28.756094,Delhi,NaN
1782081,1630796,-6.242501e+18,2016-05-02 00:15:24,77.293991,28.749820,Delhi,NaN
1800146,1407828,-8.340098e+18,2016-05-04 20:39:06,77.305988,28.688980,Delhi,NaN
1840389,1573296,-6.242501e+18,2016-05-02 08:31:43,77.293991,28.749820,Delhi,NaN
1844008,1967569,-8.340098e+18,2016-05-06 12:35:55,77.305988,28.688980,Delhi,NaN
1899157,2683860,-3.746249e+18,2016-05-05 20:57:45,77.264729,28.756094,Delhi,NaN
2042688,2992608,-6.242501e+18,2016-05-02 09:26:25,77.293991,28.749820,Delhi,NaN
2108718,1026083,-3.746249e+18,2016-05-06 23:20:03,77.264729,28.756094,Delhi,NaN
2255480,2354914,-8.340098e+18,2016-05-02 20:40:48,77.305988,28.688980,Delhi,NaN
2330870,1392371,-3.746249e+18,2016-05-02 19:13:16,77.264729,28.756094,Delhi,NaN
2370364,2698296,-8.340098e+18,2016-05-05 11:30:28,77.305988,28.688980,Delhi,NaN
2416269,2746471,-8.340098e+18,2016-05-04 20:57:55,77.305988,28.688980,Delhi,NaN
2497007,1699697,-8.340098e+18,2016-05-05 22:42:39,77.305988,28.688980,Delhi,NaN
2498157,1938866,-8.340098e+18,2016-05-05 16:48:57,77.305988,28.688980,Delhi,NaN
2598818,2843138,-3.746249e+18,2016-05-07 00:02:38,77.264729,28.756094,Delhi,NaN
2617721,159377,-3.746249e+18,2016-05-05 20:13:22,77.264729,28.756094,Delhi,NaN
2631061,658755,-6.242501e+18,2016-05-02 10:10:57,77.293991,28.749820,Delhi,NaN
2747189,2098067,-3.746249e+18,2016-05-04 15:16:50,77.264729,28.756094,Delhi,NaN
2823048,3024340,-8.340098e+18,2016-05-04 12:32:22,77.305988,28.688980,Delhi,NaN
2893441,2649541,-3.746249e+18,2016-05-05 10:43:47,77.264729,28.756094,Delhi,NaN
2930051,532287,-3.746249e+18,2016-05-06 23:49:42,77.264729,28.756094,Delhi,NaN
2944651,2447579,-3.746249e+18,2016-05-04 09:17:46,77.264729,28.756094,Delhi,NaN
3046405,1056110,-3.746249e+18,2016-05-04 07:20:21,77.264729,28.756094,Delhi,NaN
3102988,1586268,-6.242501e+18,2016-05-02 18:23:25,77.293991,28.749820,Delhi,NaN
3105715,2392812,-6.242501e+18,2016-05-02 10:10:10,77.293991,28.749820,Delhi,NaN
3200276,3245808,-8.340098e+18,2016-05-06 19:17:16,77.305988,28.688980,Delhi,NaN
3235317,210361,-8.340098e+18,2016-05-05 20:53:20,77.305988,28.688980,Delhi,NaN

In [27]:
df_cities['state'].fillna('Delhi',inplace=True)

In [28]:
df_cities.isna().sum(),df_cities.nunique()

(event_id      0
 device_id    69
 timestamp     0
 longitude    63
 latitude     63
 city          0
 state         0
 dtype: int64, event_id     751797
 device_id      4909
 timestamp    412099
 longitude      4795
 latitude       4789
 city             10
 state             1
 dtype: int64)

In [36]:
df_cities.to_csv('Dataset_for_delhi.csv')

In [30]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())]

TypeError: ignored

In [32]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())].shape

(63, 7)

In [35]:
(df_cities[(df_cities['longitude'].isna())|(df_cities['latitude'].isna())]==df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())]).shape

(63, 7)

In [37]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())&(df_cities['device_id'].isna())].shape

(0, 7)

In [38]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())].nunique()

event_id     63
device_id     3
timestamp    63
longitude     0
latitude      0
city          1
state         1
dtype: int64