<a href="https://colab.research.google.com/github/ShubhamCJagtap/Capstone_Project_1_EDA/blob/master/Delhi_dataset_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
#import mysql.connector as connection # install !pip install mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth',None)
pd.set_option('mode.chained_assignment',None)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/Capstone 1 Insaid/Database/events_data.csv')

In [65]:
df2 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/gender_age.csv',index_col=0)

In [73]:
df3 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/phone_brand_device_model.csv',index_col=0)

In [ ]:
df1.columns

Index(['event_id', 'device_id', 'timestamp', 'longitude', 'latitude', 'city',
       'state'],
      dtype='object')

In [ ]:
cities = (df1[df1['state']=='Delhi']['city'].unique()).tolist()

In [ ]:
cities

['Delhi',
 'SultanpurMajra',
 'Deoli',
 'NiDilli',
 'RoshanPura',
 'BhalswaJahangirpur',
 'Gokalpur',
 'Tigri',
 'DilliCantonment',
 'NangloiJat']

In [ ]:
len(cities)

10

In [ ]:
df_cities = df1[(df1['city']==cities[0])|
    (df1['city']==cities[1])|
    (df1['city']==cities[2])|
    (df1['city']==cities[3])|
    (df1['city']==cities[4])|
    (df1['city']==cities[5])|
    (df1['city']==cities[6])|
    (df1['city']==cities[7])|
    (df1['city']==cities[8])|
    (df1['city']==cities[9])]

In [ ]:
df_cities['city'].unique(),df_cities['state'].unique()

(array(['Delhi', 'SultanpurMajra', 'Deoli', 'NiDilli', 'RoshanPura',
        'BhalswaJahangirpur', 'Gokalpur', 'Tigri', 'DilliCantonment',
        'NangloiJat'], dtype=object), array(['Delhi', nan], dtype=object))

In [ ]:
df_cities.isna().sum()

event_id      0
device_id    69
timestamp     0
longitude    63
latitude     63
city          0
state        64
dtype: int64

In [ ]:
df_cities[df_cities['state'].isna()].head()

,event_id,device_id,timestamp,longitude,latitude,city,state
58711,1586328,-6.242501e+18,2016-05-02 18:25:36,77.293991,28.74982,Delhi,NaN
146029,191851,-6.242501e+18,2016-05-02 05:50:53,77.293991,28.74982,Delhi,NaN
154676,1813991,-8.340098e+18,2016-05-06 22:03:19,77.305988,28.68898,Delhi,NaN
206994,1804080,-8.340098e+18,2016-05-02 15:35:20,77.305988,28.68898,Delhi,NaN
219532,341684,-6.242501e+18,2016-05-02 08:37:46,77.293991,28.74982,Delhi,NaN

In [ ]:
df_cities['state'].fillna('Delhi',inplace=True)

In [ ]:
df_cities.isna().sum(),df_cities.nunique()

(event_id      0
 device_id    69
 timestamp     0
 longitude    63
 latitude     63
 city          0
 state         0
 dtype: int64, event_id     751797
 device_id      4909
 timestamp    412099
 longitude      4795
 latitude       4789
 city             10
 state             1
 dtype: int64)

In [ ]:
df_cities.to_csv('Dataset_for_delhi.csv')

In [ ]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())].head()

,event_id,device_id,timestamp,longitude,latitude,city,state
8015,2929521,1.779631e+18,2016-05-05 01:15:22,NaN,NaN,Delhi,Delhi
35009,1039863,5.375599e+18,2016-05-01 14:40:31,NaN,NaN,Delhi,Delhi
91559,2527074,5.375599e+18,2016-05-07 17:51:23,NaN,NaN,Delhi,Delhi
102308,2922517,1.779631e+18,2016-05-01 21:50:03,NaN,NaN,Delhi,Delhi
119754,2869070,4.782582e+18,2016-05-01 02:35:12,NaN,NaN,Delhi,Delhi

In [ ]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())].shape

(63, 7)

In [ ]:
(df_cities[(df_cities['longitude'].isna())|(df_cities['latitude'].isna())]==df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())]).shape

(63, 7)

In [ ]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())&(df_cities['device_id'].isna())].shape

(0, 7)

# Fill missing values of latitude an longitude based on device ID's

In [ ]:
device_id_lat_lon_missing = df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())]['device_id'].unique()

In [ ]:
device_id_lat_lon_missing

array([1.77963102e+18, 5.37559902e+18, 4.78258205e+18])

In [ ]:
lst_id_lat_lon = []
for i in device_id_lat_lon_missing:
  a = df_cities[(df_cities['longitude'].isna()==False)&(df_cities['latitude'].isna()==False)&(df_cities['device_id']==i)][['device_id','longitude','latitude']].value_counts()
  lst_id_lat_lon.append(a.index.values)

In [ ]:
id = []
lat = []
lon = []
for j in lst_id_lat_lon:
  id.append(j[0][0])
  lon.append(j[0][1])
  lat.append(j[0][2])

In [ ]:
id,lat,lon

([1.7796310234394053e+18, 5.375599021847303e+18, 4.782582047729166e+18],
 [28.738901, 28.718392, 28.718379],
 [77.235416, 77.283447, 77.22522])

In [ ]:
id[0]

1.7796310234394053e+18

In [ ]:
df_cities.loc[(df_cities['device_id']==id[0])&(np.isnan(df_cities['latitude'])),'latitude']#.fillna(lat[0])

8015      NaN
102308    NaN
388546    NaN
603570    NaN
963156    NaN
1102363   NaN
1183044   NaN
1441367   NaN
1613563   NaN
1711195   NaN
1849716   NaN
1929965   NaN
2105900   NaN
2218433   NaN
2383992   NaN
2420466   NaN
2592269   NaN
2611807   NaN
2612236   NaN
2691692   NaN
3240057   NaN
Name: latitude, dtype: float64

In [ ]:
df_cities.loc[(df_cities['device_id']==id[1])&(np.isnan(df_cities['latitude'])),'latitude']

35009     NaN
91559     NaN
181516    NaN
392144    NaN
408440    NaN
618174    NaN
761466    NaN
786473    NaN
1091491   NaN
1139239   NaN
1344039   NaN
1731090   NaN
1938824   NaN
1990928   NaN
2000548   NaN
2270111   NaN
2440981   NaN
2611126   NaN
2848235   NaN
2976687   NaN
2993381   NaN
Name: latitude, dtype: float64

In [ ]:
df_cities.loc[(df_cities['device_id']==id[2])&(np.isnan(df_cities['latitude'])),'latitude'].shape

(21,)

In [ ]:
for i in range(0,len(id)):
  print(df_cities.loc[(df_cities['device_id']==id[i])&(np.isnan(df_cities['latitude'])),'latitude'].shape)

(21,)
(21,)
(21,)

In [ ]:
for i in range(0,len(id)):
  df_cities.loc[(df_cities['device_id']==id[i])&(np.isnan(df_cities['latitude'])),'latitude'] = lat[i]
  df_cities.loc[(df_cities['device_id']==id[i])&(np.isnan(df_cities['longitude'])),'longitude'] = lon[i]

In [ ]:
df_cities.isna().sum()

event_id      0
device_id    69
timestamp     0
longitude     0
latitude      0
city          0
state         0
dtype: int64

In [ ]:
print(df_cities.loc[(df_cities['device_id']==id[0])&(np.isnan(df_cities['latitude'])),'latitude'],
df_cities.loc[(df_cities['device_id']==id[1])&(np.isnan(df_cities['latitude'])),'latitude'],
df_cities.loc[(df_cities['device_id']==id[2])&(np.isnan(df_cities['latitude'])),'latitude'])

Series([], Name: latitude, dtype: float64) Series([], Name: latitude, dtype: float64) Series([], Name: latitude, dtype: float64)

## Apply same logic to fill device Id's

In [ ]:
device_id_missing_lon = df_cities[df_cities['device_id'].isna()]['longitude'].unique()
device_id_missing_lat = df_cities[df_cities['device_id'].isna()]['latitude'].unique()

In [ ]:
device_id_missing_lon

array([77.292481, 77.274814, 77.303153])

In [ ]:
device_id_missing_lat

array([28.719966, 28.721053, 28.728888])

In [ ]:
lst_id_lon = []
for i in device_id_missing_lon:
  a = df_cities[(df_cities['device_id'].isna()==False)&(df_cities['longitude']==i)][['device_id','longitude','latitude']].value_counts()
  lst_id_lon.append(a.index.values)

In [ ]:
lst_id_lon

[array([(5.098778421671838e+18, 77.29248100000002, 28.719966000000003)],
       dtype=object),
 array([(3.724654925765159e+18, 77.27481399999998, 28.721053)],
       dtype=object),
 array([(-6.875585507485886e+18, 77.30315300000002, 28.728888)],
       dtype=object)]

In [ ]:
lst_id_lat = []
for i in device_id_missing_lat:
  a = df_cities[(df_cities['device_id'].isna()==False)&(df_cities['latitude']==i)][['device_id','longitude','latitude']].value_counts()
  lst_id_lat.append(a.index.values)

In [ ]:
lst_id_lat

[array([(5.098778421671838e+18, 77.29248100000002, 28.719966000000003)],
       dtype=object),
 array([(3.724654925765159e+18, 77.27481399999998, 28.721053)],
       dtype=object),
 array([(-6.875585507485886e+18, 77.30315300000002, 28.728888)],
       dtype=object)]

In [ ]:
id_lat = []
lat_lat = []
lon_lat = []
for j in lst_id_lat:
  id_lat.append(j[0][0])
  lon_lat.append(j[0][1])
  lat_lat.append(j[0][2])

In [ ]:
id_lat,lat_lat,lon_lat

([5.098778421671838e+18, 3.724654925765159e+18, -6.875585507485886e+18],
 [28.719966000000003, 28.721053, 28.728888],
 [77.29248100000002, 77.27481399999998, 77.30315300000002])

In [ ]:
id_lon = []
lat_lon = []
lon_lon = []
for j in lst_id_lat:
  id_lon.append(j[0][0])
  lon_lon.append(j[0][1])
  lat_lon.append(j[0][2])

In [ ]:
id_lon,lat_lon,lon_lon

([5.098778421671838e+18, 3.724654925765159e+18, -6.875585507485886e+18],
 [28.719966000000003, 28.721053, 28.728888],
 [77.29248100000002, 77.27481399999998, 77.30315300000002])

In [ ]:
df_cities.loc[(df_cities['latitude']==lat_lat[0])&(np.isnan(df_cities['device_id'])),'device_id']

72898     NaN
278170    NaN
350761    NaN
554548    NaN
598793    NaN
600849    NaN
698069    NaN
740873    NaN
890505    NaN
1287193   NaN
1563172   NaN
1841116   NaN
1851327   NaN
1908542   NaN
1939918   NaN
1987919   NaN
2102325   NaN
2450556   NaN
2845240   NaN
2939178   NaN
3146530   NaN
3175200   NaN
3192090   NaN
Name: device_id, dtype: float64

In [ ]:
for i in range(0,len(id_lat)):
  df_cities.loc[(df_cities['latitude']==lat_lat[i])&(np.isnan(df_cities['device_id'])),'device_id'] = id_lat[i]

In [ ]:
df_cities.isna().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

## All missing values from first dataset wrt delhi city are filled

In [ ]:
df_cities.head()

,event_id,device_id,timestamp,longitude,latitude,city,state
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi
8,2309828,3.020769e+18,2016-05-04 09:24:50,77.263922,28.757914,Delhi,Delhi
13,2633127,-3.090167e+18,2016-05-05 04:42:59,77.285920,28.758381,Delhi,Delhi
17,2224400,7.566051e+18,2016-05-01 00:07:47,77.240478,28.715664,Delhi,Delhi

# Let's handle datetime

In [45]:
df_cities['timestamp'] = pd.to_datetime(df_cities['timestamp'])

In [46]:
df_cities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 751797 entries, 0 to 3252947
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   event_id   751797 non-null  int64
 1   device_id  751797 non-null  float64
 2   timestamp  751797 non-null  datetime64[ns]
 3   longitude  751797 non-null  float64
 4   latitude   751797 non-null  float64
 5   city       751797 non-null  object
 6   state      751797 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 45.9+ MB

## get year and month

In [47]:
df_cities['year'] = pd.DatetimeIndex(df_cities['timestamp']).year
df_cities['month'] = pd.DatetimeIndex(df_cities['timestamp']).month

In [50]:
df_cities['year'].value_counts()

2016    751797
Name: year, dtype: int64

In [51]:
df_cities['month'].value_counts()

5    751576
4       221
Name: month, dtype: int64

In [60]:
import calendar
df_cities['month_name'] = df_cities['month'].apply(lambda x: calendar.month_abbr[x])

In [61]:
df_cities['month_name'].value_counts()

May    751576
Apr       221
Name: month_name, dtype: int64

In [62]:
df_cities.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,year,month,day_of_week,hour,month_name
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi,2016,5,Saturday,22,May
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi,2016,5,Monday,14,May
8,2309828,3.020769e+18,2016-05-04 09:24:50,77.263922,28.757914,Delhi,Delhi,2016,5,Wednesday,9,May
13,2633127,-3.090167e+18,2016-05-05 04:42:59,77.285920,28.758381,Delhi,Delhi,2016,5,Thursday,4,May
17,2224400,7.566051e+18,2016-05-01 00:07:47,77.240478,28.715664,Delhi,Delhi,2016,5,Sunday,0,May

## Get week day and hours

In [52]:
df_cities['day_of_week'] = df_cities['timestamp'].dt.day_name()

In [54]:
df_cities['day_of_week'].value_counts()

Tuesday      113209
Wednesday    112687
Thursday     112413
Friday       107663
Monday       105700
Sunday       100148
Saturday      99977
Name: day_of_week, dtype: int64

In [56]:
df_cities['hour'] = df_cities['timestamp'].dt.hour

In [58]:
df_cities['hour'].value_counts().sort_index()

0     28234
1     17574
2     13393
3     11189
4     11011
5     16521
6     28735
7     34972
8     36178
9     38723
10    43102
11    39182
12    39145
13    36699
14    35812
15    34824
16    36307
17    36829
18    35340
19    37014
20    38523
21    38045
22    34998
23    29447
Name: hour, dtype: int64

In [63]:
df_cities.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,year,month,day_of_week,hour,month_name
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi,2016,5,Saturday,22,May
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi,2016,5,Monday,14,May
8,2309828,3.020769e+18,2016-05-04 09:24:50,77.263922,28.757914,Delhi,Delhi,2016,5,Wednesday,9,May
13,2633127,-3.090167e+18,2016-05-05 04:42:59,77.285920,28.758381,Delhi,Delhi,2016,5,Thursday,4,May
17,2224400,7.566051e+18,2016-05-01 00:07:47,77.240478,28.715664,Delhi,Delhi,2016,5,Sunday,0,May

# Preprocessing of second dataset

In [67]:
df2.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [68]:
df2.group.value_counts()

M23-26    9605
M32-38    9476
M39+      8581
M22-      7488
M29-31    7309
F33-42    5561
M27-28    5445
F23-      5050
F29-32    4628
F43+      4194
F24-26    4190
F27-28    3118
Name: group, dtype: int64

In group, it seems that groups are not consistent in size e.g. M23-26 = 4 Values, M29-31 = 3 Values, M32-38 = 7 Values <br> we can approach grouping in same way or we can make group size consistent

### Lets keep age group as it is

# Preprocessing of third dataset

In [69]:
df3.head()

             device_id phone_brand device_model
0  1877775838486905855        vivo          Y13
1 -3766087376657242966                   V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470                  A368t
4 -2015528097870762664                Note2

Let's replace chinese names with equivalent english words

In [74]:
df3['phone_brand'].unique()

array(['vivo', '', 'OPPO', '', '', ' ', '', '', '', '',
       '', 'HTC', '', '', 'LG', '', '', 'ZUK', '', '',
       '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', 'TCL', '', '',
       'LOGO', '', '', '', '', '', '', '', '', '',
       '', 'Lovme', '', 'E', '', '', '', '', '', '',
       '', '', '', '', '', '', '', 'EE', '', 'Q',
       '', '', '', '', '', '', '', '', '', '', '',
       '', 'SUGAR', '', '', '', '', '', '', '', '',
       '', '', '', '', 'MIL', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '',
       '', '', '', 'PPTV'], dtype=object)

In [70]:
dict = {'':'Huawei',
'':'Xiaomi',
'':'Samsung',
'vivo':'vivo',
'OPPO': 'OPPO',
'': 'Meizu',
'': 'Coolpad',
'':'LeEco',
' ': 'Lenovo',
'HTC': 'HTC'}

In [75]:
df3.replace({'phone_brand':dict},inplace=True)

In [76]:
df3['phone_brand'].unique()

array(['vivo', 'Xiaomi', 'OPPO', 'Samsung', 'Coolpad', 'Lenovo', 'Huawei',
       '', 'Meizu', '', '', 'HTC', '', '', 'LG', '', '',
       'ZUK', '', '', '', '', '', '', '', '', '',
       'LeEco', '', '', '', '', '', '', '', '', '',
       '', 'TCL', '', '', 'LOGO', '', '', '', '', '',
       '', '', '', '', '', 'Lovme', '', 'E', '', '',
       '', '', '', '', '', '', '', '', '', '',
       '', 'EE', '', 'Q', '', '', '', '', '', '',
       '', '', '', '', '', '', 'SUGAR', '', '', '',
       '', '', '', '', '', '', '', '', '', 'MIL',
       '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', 'PPTV'],
      dtype=object)

# Time to merge all

In [78]:
df_merged_1 = df2.merge(df3,how='inner',on = "device_id")

In [79]:
df_merged_1.head()

             device_id gender  age   group phone_brand device_model
0 -8076087639492063270      M   35  M32-38      Xiaomi         MI 2
1 -2897161552818060146      M   35  M32-38      Xiaomi         MI 2
2 -8260683887967679142      M   35  M32-38      Xiaomi         MI 2
3 -4938849341048082022      M   30  M29-31     Samsung    Galaxy S4
4   245133531816851882      M   30  M29-31       SUGAR

In [80]:
df_merged_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74617 entries, 0 to 74616
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   device_id     74617 non-null  int64
 1   gender        74617 non-null  object
 2   age           74617 non-null  int64
 3   group         74617 non-null  object
 4   phone_brand   74617 non-null  object
 5   device_model  74617 non-null  object
dtypes: int64(2), object(4)
memory usage: 4.0+ MB

In [81]:
df_merged_1.nunique()

device_id       74617
gender              2
age                85
group              12
phone_brand       111
device_model     1427
dtype: int64

In [86]:
df_merged_1['device_id'] = df_merged_1['device_id'].apply(lambda x: abs(x))

In [90]:
df_cities['device_id'] = df_cities['device_id'].apply(lambda x: abs(x))

In [91]:
df_merged_2 = df_cities.merge(df_merged_1,how='inner',on='device_id')

In [92]:
df_merged_2.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,year,month,day_of_week,hour,month_name,gender,age,group,phone_brand,device_model
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.73014,Delhi,Delhi,2016,5,Saturday,22,May,M,35,M32-38,,UIMI3
1,1355198,2.973348e+18,2016-05-01 01:35:45,77.225676,28.73014,Delhi,Delhi,2016,5,Sunday,1,May,M,35,M32-38,,UIMI3
2,1630972,2.973348e+18,2016-05-03 00:07:34,77.225676,28.73014,Delhi,Delhi,2016,5,Tuesday,0,May,M,35,M32-38,,UIMI3
3,2732453,2.973348e+18,2016-05-01 06:15:59,77.225676,28.73014,Delhi,Delhi,2016,5,Sunday,6,May,M,35,M32-38,,UIMI3
4,1562542,2.973348e+18,2016-05-01 20:34:19,77.225676,28.73014,Delhi,Delhi,2016,5,Sunday,20,May,M,35,M32-38,,UIMI3

In [93]:
df_merged_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2328 entries, 0 to 2327
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   event_id      2328 non-null   int64
 1   device_id     2328 non-null   float64
 2   timestamp     2328 non-null   datetime64[ns]
 3   longitude     2328 non-null   float64
 4   latitude      2328 non-null   float64
 5   city          2328 non-null   object
 6   state         2328 non-null   object
 7   year          2328 non-null   int64
 8   month         2328 non-null   int64
 9   day_of_week   2328 non-null   object
 10  hour          2328 non-null   int64
 11  month_name    2328 non-null   object
 12  gender        2328 non-null   object
 13  age           2328 non-null   int64
 14  group         2328 non-null   object
 15  phone_brand   2328 non-null   object
 16  device_model  2328 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(5), object(8)
memory usage: 327.4+ KB

In [94]:
df_merged_2.nunique()

event_id        2328
device_id         20
timestamp       2316
longitude         20
latitude          20
city               1
state              1
year               1
month              1
day_of_week        7
hour              24
month_name         1
gender             2
age               13
group              8
phone_brand       11
device_model      17
dtype: int64