<a href="https://colab.research.google.com/github/ShubhamCJagtap/Capstone_Project_1_EDA/blob/master/Delhi_dataset_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
#import mysql.connector as connection # install !pip install mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_colwidth',None)
pd.set_option('mode.chained_assignment',None)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df1 = pd.read_csv('/content/drive/MyDrive/Capstone 1 Insaid/Database/events_data.csv')

In [4]:
df2 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/gender_age.csv',index_col=0)

In [5]:
df3 = pd.read_csv('https://raw.githubusercontent.com/ShubhamCJagtap/Capstone_Project_1_EDA/master/phone_brand_device_model.csv',index_col=0)

In [6]:
df1.columns

Index(['event_id', 'device_id', 'timestamp', 'longitude', 'latitude', 'city',
       'state'],
      dtype='object')

In [7]:
cities = (df1[df1['state']=='Delhi']['city'].unique()).tolist()

In [8]:
cities

['Delhi',
 'SultanpurMajra',
 'Deoli',
 'NiDilli',
 'RoshanPura',
 'BhalswaJahangirpur',
 'Gokalpur',
 'Tigri',
 'DilliCantonment',
 'NangloiJat']

In [9]:
len(cities)

10

In [10]:
df_cities = df1[(df1['city']==cities[0])|
    (df1['city']==cities[1])|
    (df1['city']==cities[2])|
    (df1['city']==cities[3])|
    (df1['city']==cities[4])|
    (df1['city']==cities[5])|
    (df1['city']==cities[6])|
    (df1['city']==cities[7])|
    (df1['city']==cities[8])|
    (df1['city']==cities[9])]

In [11]:
df_cities['city'].unique(),df_cities['state'].unique()

(array(['Delhi', 'SultanpurMajra', 'Deoli', 'NiDilli', 'RoshanPura',
        'BhalswaJahangirpur', 'Gokalpur', 'Tigri', 'DilliCantonment',
        'NangloiJat'], dtype=object), array(['Delhi', nan], dtype=object))

In [12]:
df_cities.isna().sum()

event_id      0
device_id    69
timestamp     0
longitude    63
latitude     63
city          0
state        64
dtype: int64

In [13]:
df_cities[df_cities['state'].isna()].head()

,event_id,device_id,timestamp,longitude,latitude,city,state
58711,1586328,-6.242501e+18,2016-05-02 18:25:36,77.293991,28.74982,Delhi,NaN
146029,191851,-6.242501e+18,2016-05-02 05:50:53,77.293991,28.74982,Delhi,NaN
154676,1813991,-8.340098e+18,2016-05-06 22:03:19,77.305988,28.68898,Delhi,NaN
206994,1804080,-8.340098e+18,2016-05-02 15:35:20,77.305988,28.68898,Delhi,NaN
219532,341684,-6.242501e+18,2016-05-02 08:37:46,77.293991,28.74982,Delhi,NaN

In [14]:
df_cities['state'].fillna('Delhi',inplace=True)

In [15]:
df_cities.isna().sum(),df_cities.nunique()

(event_id      0
 device_id    69
 timestamp     0
 longitude    63
 latitude     63
 city          0
 state         0
 dtype: int64, event_id     751797
 device_id      4909
 timestamp    412099
 longitude      4795
 latitude       4789
 city             10
 state             1
 dtype: int64)

In [16]:
df_cities.to_csv('Dataset_for_delhi.csv')

In [84]:
df_cities = pd.read_csv('Dataset_for_delhi.csv',index_col=0)

In [86]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())].head()

,event_id,device_id,timestamp,longitude,latitude,city,state
8015,2929521,1.779631e+18,2016-05-05 01:15:22,NaN,NaN,Delhi,Delhi
35009,1039863,5.375599e+18,2016-05-01 14:40:31,NaN,NaN,Delhi,Delhi
91559,2527074,5.375599e+18,2016-05-07 17:51:23,NaN,NaN,Delhi,Delhi
102308,2922517,1.779631e+18,2016-05-01 21:50:03,NaN,NaN,Delhi,Delhi
119754,2869070,4.782582e+18,2016-05-01 02:35:12,NaN,NaN,Delhi,Delhi

In [87]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())].shape

(63, 7)

In [88]:
(df_cities[(df_cities['longitude'].isna())|(df_cities['latitude'].isna())]==df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())]).shape

(63, 7)

In [89]:
df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())&(df_cities['device_id'].isna())].shape

(0, 7)

# Fill missing values of latitude an longitude based on device ID's

In [90]:
device_id_lat_lon_missing = df_cities[(df_cities['longitude'].isna())&(df_cities['latitude'].isna())]['device_id'].unique()

In [91]:
device_id_lat_lon_missing

array([1.77963102e+18, 5.37559902e+18, 4.78258205e+18])

In [92]:
lst_id_lat_lon = []
for i in device_id_lat_lon_missing:
  a = df_cities[(df_cities['longitude'].isna()==False)&(df_cities['latitude'].isna()==False)&(df_cities['device_id']==i)][['device_id','longitude','latitude']].value_counts()
  lst_id_lat_lon.append(a.index.values)

In [93]:
lst_id_lat_lon

[array([(1.7796310234394053e+18, 77.235416, 28.738901)], dtype=object),
 array([(5.375599021847303e+18, 77.283447, 28.718392)], dtype=object),
 array([(4.782582047729166e+18, 77.22522, 28.718379)], dtype=object)]

In [106]:
id = []
lat = []
lon = []
for j in lst_id_lat_lon:
  id.append(j[0][0])
  lon.append(j[0][1])
  lat.append(j[0][2])

In [107]:
id,lat,lon

([1.7796310234394053e+18, 5.375599021847303e+18, 4.782582047729166e+18],
 [28.738901, 28.718392, 28.718379],
 [77.235416, 77.283447, 77.22522])

In [96]:
id[0]

1.7796310234394053e+18

In [108]:
df_cities.loc[(df_cities['device_id']==id[0])&(np.isnan(df_cities['latitude'])),['device_id','latitude']]#.fillna(lat[0])

            device_id  latitude
8015     1.779631e+18       NaN
102308   1.779631e+18       NaN
388546   1.779631e+18       NaN
603570   1.779631e+18       NaN
963156   1.779631e+18       NaN
1102363  1.779631e+18       NaN
1183044  1.779631e+18       NaN
1441367  1.779631e+18       NaN
1613563  1.779631e+18       NaN
1711195  1.779631e+18       NaN
1849716  1.779631e+18       NaN
1929965  1.779631e+18       NaN
2105900  1.779631e+18       NaN
2218433  1.779631e+18       NaN
2383992  1.779631e+18       NaN
2420466  1.779631e+18       NaN
2592269  1.779631e+18       NaN
2611807  1.779631e+18       NaN
2612236  1.779631e+18       NaN
2691692  1.779631e+18       NaN
3240057  1.779631e+18       NaN

In [99]:
df_cities.loc[(df_cities['device_id']==id[1])&(np.isnan(df_cities['latitude'])),['latitude','longitude']]

         latitude  longitude
35009         NaN        NaN
91559         NaN        NaN
181516        NaN        NaN
392144        NaN        NaN
408440        NaN        NaN
618174        NaN        NaN
761466        NaN        NaN
786473        NaN        NaN
1091491       NaN        NaN
1139239       NaN        NaN
1344039       NaN        NaN
1731090       NaN        NaN
1938824       NaN        NaN
1990928       NaN        NaN
2000548       NaN        NaN
2270111       NaN        NaN
2440981       NaN        NaN
2611126       NaN        NaN
2848235       NaN        NaN
2976687       NaN        NaN
2993381       NaN        NaN

In [29]:
df_cities.loc[(df_cities['device_id']==id[2])&(np.isnan(df_cities['latitude'])),'latitude'].shape

(21,)

In [109]:
for i in range(0,len(id)):
  print(df_cities.loc[(df_cities['device_id']==id[i])&(np.isnan(df_cities['latitude'])),'latitude'].shape)

(21,)
(21,)
(21,)

In [110]:
for i in range(0,len(id)):
  df_cities.loc[(df_cities['device_id']==id[i])&(np.isnan(df_cities['latitude'])),'latitude'] = lat[i]
  df_cities.loc[(df_cities['device_id']==id[i])&(np.isnan(df_cities['longitude'])),'longitude'] = lon[i]

In [111]:
df_cities.isna().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

In [33]:
print(df_cities.loc[(df_cities['device_id']==id[0])&(np.isnan(df_cities['latitude'])),'latitude'],
df_cities.loc[(df_cities['device_id']==id[1])&(np.isnan(df_cities['latitude'])),'latitude'],
df_cities.loc[(df_cities['device_id']==id[2])&(np.isnan(df_cities['latitude'])),'latitude'])

Series([], Name: latitude, dtype: float64) Series([], Name: latitude, dtype: float64) Series([], Name: latitude, dtype: float64)

## Apply same logic to fill device Id's

In [34]:
device_id_missing_lon = df_cities[df_cities['device_id'].isna()]['longitude'].unique()
device_id_missing_lat = df_cities[df_cities['device_id'].isna()]['latitude'].unique()

In [35]:
device_id_missing_lon

array([77.292481, 77.274814, 77.303153])

In [36]:
device_id_missing_lat

array([28.719966, 28.721053, 28.728888])

In [37]:
lst_id_lon = []
for i in device_id_missing_lon:
  a = df_cities[(df_cities['device_id'].isna()==False)&(df_cities['longitude']==i)][['device_id','longitude','latitude']].value_counts()
  lst_id_lon.append(a.index.values)

In [38]:
lst_id_lon

[array([(5.098778421671838e+18, 77.29248100000002, 28.719966000000003)],
       dtype=object),
 array([(3.724654925765159e+18, 77.27481399999998, 28.721053)],
       dtype=object),
 array([(-6.875585507485886e+18, 77.30315300000002, 28.728888)],
       dtype=object)]

In [103]:
lst_id_lat = []
for i in device_id_missing_lat:
  a = df_cities[(df_cities['device_id'].isna()==False)&(df_cities['latitude']==i)][['device_id','longitude','latitude']].value_counts()
  lst_id_lat.append(a.index.values)

In [104]:
lst_id_lat

[array([(5.098778421671838e+18, 77.29248100000002, 28.719966000000003)],
       dtype=object),
 array([(3.724654925765159e+18, 77.27481399999998, 28.721053)],
       dtype=object),
 array([(-6.875585507485886e+18, 77.30315300000002, 28.728888)],
       dtype=object)]

In [41]:
id_lat = []
lat_lat = []
lon_lat = []
for j in lst_id_lat:
  id_lat.append(j[0][0])
  lon_lat.append(j[0][1])
  lat_lat.append(j[0][2])

In [42]:
id_lat,lat_lat,lon_lat

([5.098778421671838e+18, 3.724654925765159e+18, -6.875585507485886e+18],
 [28.719966000000003, 28.721053, 28.728888],
 [77.29248100000002, 77.27481399999998, 77.30315300000002])

In [43]:
id_lon = []
lat_lon = []
lon_lon = []
for j in lst_id_lat:
  id_lon.append(j[0][0])
  lon_lon.append(j[0][1])
  lat_lon.append(j[0][2])

In [44]:
id_lon,lat_lon,lon_lon

([5.098778421671838e+18, 3.724654925765159e+18, -6.875585507485886e+18],
 [28.719966000000003, 28.721053, 28.728888],
 [77.29248100000002, 77.27481399999998, 77.30315300000002])

In [100]:
df_cities.loc[(df_cities['latitude']==lat_lat[0])&(np.isnan(df_cities['device_id'])),['device_id','latitude','longitude']]

         device_id   latitude  longitude
72898          NaN  28.719966  77.292481
278170         NaN  28.719966  77.292481
350761         NaN  28.719966  77.292481
554548         NaN  28.719966  77.292481
598793         NaN  28.719966  77.292481
600849         NaN  28.719966  77.292481
698069         NaN  28.719966  77.292481
740873         NaN  28.719966  77.292481
890505         NaN  28.719966  77.292481
1287193        NaN  28.719966  77.292481
1563172        NaN  28.719966  77.292481
1841116        NaN  28.719966  77.292481
1851327        NaN  28.719966  77.292481
1908542        NaN  28.719966  77.292481
1939918        NaN  28.719966  77.292481
1987919        NaN  28.719966  77.292481
2102325        NaN  28.719966  77.292481
2450556        NaN  28.719966  77.292481
2845240        NaN  28.719966  77.292481
2939178        NaN  28.719966  77.292481
3146530        NaN  28.719966  77.292481
3175200        NaN  28.719966  77.292481
3192090        NaN  28.719966  77.292481

In [101]:
for i in range(0,len(id_lat)):
  df_cities.loc[(df_cities['latitude']==lat_lat[i])&(np.isnan(df_cities['device_id'])),'device_id'] = id_lat[i]

In [112]:
df_cities.isna().sum()

event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
city         0
state        0
dtype: int64

## All missing values from first dataset wrt delhi city are filled

In [48]:
df_cities.head()

,event_id,device_id,timestamp,longitude,latitude,city,state
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi
8,2309828,3.020769e+18,2016-05-04 09:24:50,77.263922,28.757914,Delhi,Delhi
13,2633127,-3.090167e+18,2016-05-05 04:42:59,77.285920,28.758381,Delhi,Delhi
17,2224400,7.566051e+18,2016-05-01 00:07:47,77.240478,28.715664,Delhi,Delhi

In [113]:
df_cities.shape

(751797, 7)

# Let's handle datetime

In [49]:
df_cities['timestamp'] = pd.to_datetime(df_cities['timestamp'])

In [50]:
df_cities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 751797 entries, 0 to 3252947
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   event_id   751797 non-null  int64
 1   device_id  751797 non-null  float64
 2   timestamp  751797 non-null  datetime64[ns]
 3   longitude  751797 non-null  float64
 4   latitude   751797 non-null  float64
 5   city       751797 non-null  object
 6   state      751797 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 45.9+ MB

## get year and month

In [51]:
df_cities['year'] = pd.DatetimeIndex(df_cities['timestamp']).year
df_cities['month'] = pd.DatetimeIndex(df_cities['timestamp']).month

In [52]:
df_cities['year'].value_counts()

2016    751797
Name: year, dtype: int64

In [53]:
df_cities['month'].value_counts()

5    751576
4       221
Name: month, dtype: int64

In [54]:
import calendar
df_cities['month_name'] = df_cities['month'].apply(lambda x: calendar.month_abbr[x])

In [55]:
df_cities['month_name'].value_counts()

May    751576
Apr       221
Name: month_name, dtype: int64

In [56]:
df_cities.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,year,month,month_name
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi,2016,5,May
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi,2016,5,May
8,2309828,3.020769e+18,2016-05-04 09:24:50,77.263922,28.757914,Delhi,Delhi,2016,5,May
13,2633127,-3.090167e+18,2016-05-05 04:42:59,77.285920,28.758381,Delhi,Delhi,2016,5,May
17,2224400,7.566051e+18,2016-05-01 00:07:47,77.240478,28.715664,Delhi,Delhi,2016,5,May

## Get week day and hours

In [57]:
df_cities['day_of_week'] = df_cities['timestamp'].dt.day_name()

In [58]:
df_cities['day_of_week'].value_counts()

Tuesday      113209
Wednesday    112687
Thursday     112413
Friday       107663
Monday       105700
Sunday       100148
Saturday      99977
Name: day_of_week, dtype: int64

In [59]:
df_cities['hour'] = df_cities['timestamp'].dt.hour

In [60]:
df_cities['hour'].value_counts().sort_index()

0     28234
1     17574
2     13393
3     11189
4     11011
5     16521
6     28735
7     34972
8     36178
9     38723
10    43102
11    39182
12    39145
13    36699
14    35812
15    34824
16    36307
17    36829
18    35340
19    37014
20    38523
21    38045
22    34998
23    29447
Name: hour, dtype: int64

In [61]:
df_cities.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,year,month,month_name,day_of_week,hour
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi,2016,5,May,Saturday,22
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi,2016,5,May,Monday,14
8,2309828,3.020769e+18,2016-05-04 09:24:50,77.263922,28.757914,Delhi,Delhi,2016,5,May,Wednesday,9
13,2633127,-3.090167e+18,2016-05-05 04:42:59,77.285920,28.758381,Delhi,Delhi,2016,5,May,Thursday,4
17,2224400,7.566051e+18,2016-05-01 00:07:47,77.240478,28.715664,Delhi,Delhi,2016,5,May,Sunday,0

# Preprocessing of second dataset

In [62]:
df2.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [63]:
df2.group.value_counts()

M23-26    9605
M32-38    9476
M39+      8581
M22-      7488
M29-31    7309
F33-42    5561
M27-28    5445
F23-      5050
F29-32    4628
F43+      4194
F24-26    4190
F27-28    3118
Name: group, dtype: int64

In group, it seems that groups are not consistent in size e.g. M23-26 = 4 Values, M29-31 = 3 Values, M32-38 = 7 Values <br> we can approach grouping in same way or we can make group size consistent

### Lets keep age group as it is

# Preprocessing of third dataset

In [64]:
df3.head()

             device_id phone_brand device_model
0  1877775838486905855        vivo          Y13
1 -3766087376657242966                   V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470                  A368t
4 -2015528097870762664                Note2

Let's replace chinese names with equivalent english words

In [65]:
df3['phone_brand'].unique()

array(['vivo', '', 'OPPO', '', '', ' ', '', '', '', '',
       '', 'HTC', '', '', 'LG', '', '', 'ZUK', '', '',
       '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', 'TCL', '', '',
       'LOGO', '', '', '', '', '', '', '', '', '',
       '', 'Lovme', '', 'E', '', '', '', '', '', '',
       '', '', '', '', '', '', '', 'EE', '', 'Q',
       '', '', '', '', '', '', '', '', '', '', '',
       '', 'SUGAR', '', '', '', '', '', '', '', '',
       '', '', '', '', 'MIL', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '',
       '', '', '', 'PPTV'], dtype=object)

In [66]:
dict = {'':'Huawei',
'':'Xiaomi',
'':'Samsung',
'vivo':'vivo',
'OPPO': 'OPPO',
'': 'Meizu',
'': 'Coolpad',
'':'LeEco',
' ': 'Lenovo',
'HTC': 'HTC'}

In [67]:
df3.replace({'phone_brand':dict},inplace=True)

In [68]:
df3['phone_brand'].unique()

array(['vivo', 'Xiaomi', 'OPPO', 'Samsung', 'Coolpad', 'Lenovo', 'Huawei',
       '', 'Meizu', '', '', 'HTC', '', '', 'LG', '', '',
       'ZUK', '', '', '', '', '', '', '', '', '',
       'LeEco', '', '', '', '', '', '', '', '', '',
       '', 'TCL', '', '', 'LOGO', '', '', '', '', '',
       '', '', '', '', '', 'Lovme', '', 'E', '', '',
       '', '', '', '', '', '', '', '', '', '',
       '', 'EE', '', 'Q', '', '', '', '', '', '',
       '', '', '', '', '', '', 'SUGAR', '', '', '',
       '', '', '', '', '', '', '', '', '', 'MIL',
       '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', 'PPTV'],
      dtype=object)

# Time to merge all

In [69]:
df_merged_1 = df2.merge(df3,how='inner',on = "device_id")

In [70]:
df_merged_1.head()

             device_id gender  age   group phone_brand device_model
0 -8076087639492063270      M   35  M32-38      Xiaomi         MI 2
1 -2897161552818060146      M   35  M32-38      Xiaomi         MI 2
2 -8260683887967679142      M   35  M32-38      Xiaomi         MI 2
3 -4938849341048082022      M   30  M29-31     Samsung    Galaxy S4
4   245133531816851882      M   30  M29-31       SUGAR

In [71]:
df_merged_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74617 entries, 0 to 74616
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   device_id     74617 non-null  int64
 1   gender        74617 non-null  object
 2   age           74617 non-null  int64
 3   group         74617 non-null  object
 4   phone_brand   74617 non-null  object
 5   device_model  74617 non-null  object
dtypes: int64(2), object(4)
memory usage: 4.0+ MB

In [72]:
df_merged_1.nunique()

device_id       74617
gender              2
age                85
group              12
phone_brand       111
device_model     1427
dtype: int64

In [73]:
df_merged_1['device_id'] = df_merged_1['device_id'].apply(lambda x: abs(x))

In [74]:
df_cities['device_id'] = df_cities['device_id'].apply(lambda x: abs(x))

In [75]:
df_merged_2 = df_cities.merge(df_merged_1,how='inner',on='device_id')

In [76]:
df_merged_2.head()

,event_id,device_id,timestamp,longitude,latitude,city,state,year,month,month_name,day_of_week,hour,gender,age,group,phone_brand,device_model
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.73014,Delhi,Delhi,2016,5,May,Saturday,22,M,35,M32-38,,UIMI3
1,1355198,2.973348e+18,2016-05-01 01:35:45,77.225676,28.73014,Delhi,Delhi,2016,5,May,Sunday,1,M,35,M32-38,,UIMI3
2,1630972,2.973348e+18,2016-05-03 00:07:34,77.225676,28.73014,Delhi,Delhi,2016,5,May,Tuesday,0,M,35,M32-38,,UIMI3
3,2732453,2.973348e+18,2016-05-01 06:15:59,77.225676,28.73014,Delhi,Delhi,2016,5,May,Sunday,6,M,35,M32-38,,UIMI3
4,1562542,2.973348e+18,2016-05-01 20:34:19,77.225676,28.73014,Delhi,Delhi,2016,5,May,Sunday,20,M,35,M32-38,,UIMI3

In [77]:
df_merged_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2328 entries, 0 to 2327
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   event_id      2328 non-null   int64
 1   device_id     2328 non-null   float64
 2   timestamp     2328 non-null   datetime64[ns]
 3   longitude     2328 non-null   float64
 4   latitude      2328 non-null   float64
 5   city          2328 non-null   object
 6   state         2328 non-null   object
 7   year          2328 non-null   int64
 8   month         2328 non-null   int64
 9   month_name    2328 non-null   object
 10  day_of_week   2328 non-null   object
 11  hour          2328 non-null   int64
 12  gender        2328 non-null   object
 13  age           2328 non-null   int64
 14  group         2328 non-null   object
 15  phone_brand   2328 non-null   object
 16  device_model  2328 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(5), object(8)
memory usage: 327.4+ KB

In [78]:
df_merged_2.nunique()

event_id        2328
device_id         20
timestamp       2316
longitude         20
latitude          20
city               1
state              1
year               1
month              1
month_name         1
day_of_week        7
hour              24
gender             2
age               13
group              8
phone_brand       11
device_model      17
dtype: int64

In [114]:
df_merged_2['phone_brand'].unique()

array(['', 'Samsung', 'vivo', 'OPPO', 'Coolpad', 'Meizu', 'Huawei',
       'LeEco', 'HTC', 'Xiaomi', ''], dtype=object)